node-red/sc.json
[{"id":"ec429f445c573ae9","type":"subflow","name":"Read conf status (on / off)","info":"","category":"","in":[{"x":100,"y":140,"wires":[{"id":"0f1203d369ba699a"}]}],"out":[{"x":840,"y":140,"wires":[{"id":"702f306532e4c0a6","port":0},{"id":"25afc9c5c7b237c5","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"0f1203d369ba699a","type":"http request","z":"ec429f445c573ae9","name":"Read conf status","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://{{{api_ip}}}:5080/api/{{{api_id}}}/get/conf/status","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":270,"y":140,"wires":[["8446c9bd401742f9"]]},{"id":"8446c9bd401742f9","type":"switch","z":"ec429f445c573ae9","name":"","property":"payload.val","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":true,"outputs":2,"x":470,"y":140,"wires":[["702f306532e4c0a6"],["25afc9c5c7b237c5"]]},{"id":"702f306532e4c0a6","type":"change","z":"ec429f445c573ae9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":120,"wires":[[]]},{"id":"25afc9c5c7b237c5","type":"change","z":"ec429f445c573ae9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":160,"wires":[[]]},{"id":"d030392ecc3d3feb","type":"subflow","name":"Read conf status (True / False)","info":"","category":"","in":[{"x":40,"y":100,"wires":[{"id":"c24c7e9f5890a9b5"}]}],"out":[{"x":720,"y":100,"wires":[{"id":"29193ea8bed57b50","port":0},{"id":"7b658396f5a39e19","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"c24c7e9f5890a9b5","type":"http request","z":"d030392ecc3d3feb","name":"Read conf status","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://{{{api_ip}}}:5080/api/{{{api_id}}}/get/conf/status","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":190,"y":100,"wires":[["30f940e423e529ed"]]},{"id":"30f940e423e529ed","type":"switch","z":"d030392ecc3d3feb","name":"","property":"payload.val","propertyType":"msg","rules":[{"t":"eq","v":"True","vt":"str"},{"t":"eq","v":"False","vt":"str"}],"checkall":"true","repair":true,"outputs":2,"x":390,"y":100,"wires":[["29193ea8bed57b50"],["7b658396f5a39e19"]]},{"id":"29193ea8bed57b50","type":"change","z":"d030392ecc3d3feb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":80,"wires":[[]]},{"id":"7b658396f5a39e19","type":"change","z":"d030392ecc3d3feb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":120,"wires":[[]]},{"id":"16f9fe36952d6e59","type":"subflow","name":"Read gpio status","info":"","category":"","in":[{"x":60,"y":100,"wires":[{"id":"1e4943f5dccd8e3b"}]}],"out":[{"x":780,"y":100,"wires":[{"id":"cf75fa0103cbe073","port":0},{"id":"216d2607984670aa","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"1e4943f5dccd8e3b","type":"http request","z":"16f9fe36952d6e59","name":"Read gpio status","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://{{{api_ip}}}:5080/api/{{{api_id}}}/gpio/{{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":190,"y":100,"wires":[["b965593c51444f97"]]},{"id":"01f17c0a5b64c5e6","type":"switch","z":"16f9fe36952d6e59","name":"","property":"payload.pin_status","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":true,"outputs":2,"x":470,"y":100,"wires":[["cf75fa0103cbe073"],["216d2607984670aa"]]},{"id":"cf75fa0103cbe073","type":"change","z":"16f9fe36952d6e59","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":80,"wires":[[]]},{"id":"216d2607984670aa","type":"change","z":"16f9fe36952d6e59","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":120,"wires":[[]]},{"id":"b965593c51444f97","type":"json","z":"16f9fe36952d6e59","name":"","property":"payload","action":"obj","pretty":false,"x":350,"y":100,"wires":[["01f17c0a5b64c5e6"]]},{"id":"9e74ffc274479be8","type":"tab","label":"Small Cube","disabled":false,"info":""},{"id":"e16d6ee938db5196","type":"ui_button","z":"9e74ffc274479be8","name":"","group":"35e78bdd9f199238","order":1,"width":0,"height":0,"passthru":true,"label":"refresh","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":160,"y":920,"wires":[["aed958300dbb90f2","9e2aa0acf2314996","c23ed3fd6cb3ec70","8592f6f70fd57ae8","a33f94baa9a4beb9","52fd197ccbf4bccc"]]},{"id":"688036d21c043844","type":"comment","z":"9e74ffc274479be8","name":"Pin configuration","info":"Pin configuration","x":100,"y":1380,"wires":[]},{"id":"87109f4167591eb3","type":"ui_form","z":"9e74ffc274479be8","name":"","label":"","group":"11b096db.33a5a1","order":2,"width":0,"height":0,"options":[{"label":"name","value":"gpio_name","type":"text","required":true,"rows":null},{"label":"pin","value":"gpio_number","type":"number","required":true,"rows":null},{"label":"enabled","value":"gpio_enable","type":"switch","required":true,"rows":null}],"formValue":{"gpio_name":"","gpio_number":"","gpio_enable":false},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":90,"y":1420,"wires":[["591cbb4bb96758f7"]]},{"id":"3210225a3240a3be","type":"http request","z":"9e74ffc274479be8","name":"Ping API","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://{{{api_ip}}}:5080/api/{{{api_id}}}/ping","tls":"","persist":false,"proxy":"","authType":"","x":480,"y":320,"wires":[["c308864921f26ded"]]},{"id":"c308864921f26ded","type":"switch","z":"9e74ffc274479be8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"PONG","vt":"str"},{"t":"else"}],"checkall":"false","repair":true,"outputs":2,"x":610,"y":320,"wires":[["d3f3ae4eded6ea4b","9b758555dc22f945"],["79635d0bd8393471"]]},{"id":"21255c2da17838e7","type":"switch","z":"9e74ffc274479be8","name":"","property":"payload.gpio_enable","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":1420,"wires":[["db716d7eea53a85c","c041787dcc49ba04"],["c041787dcc49ba04","859fe30e277c6a8c"]]},{"id":"591cbb4bb96758f7","type":"function","z":"9e74ffc274479be8","name":"Read API data","func":"var api_ip=flow.get('api_ip')\nvar api_id=flow.get('api_id')\nvar api_auth = flow.get('api_auth',msg.headers);\n\nmsg.api_ip=api_ip\nmsg.api_id=api_id\nmsg.headers=api_auth\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":1420,"wires":[["21255c2da17838e7"]]},{"id":"db716d7eea53a85c","type":"http request","z":"9e74ffc274479be8","name":"Enable gpio","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://{{{api_ip}}}:5080/api/{{{api_id}}}/gpio/enable/{{{payload.gpio_number}}}","tls":"","persist":false,"proxy":"","authType":"","x":570,"y":1360,"wires":[[]]},{"id":"26439b987bc2c1d1","type":"http request","z":"9e74ffc274479be8","name":"Disable gpio","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://{{{api_ip}}}:5080/api/{{{api_id}}}/gpio/disable/{{{payload.gpio_number}}}","tls":"","persist":false,"proxy":"","authType":"","x":710,"y":1480,"wires":[[]]},{"id":"c041787dcc49ba04","type":"function","z":"9e74ffc274479be8","name":"","func":"var pin = msg.payload.gpio_number\nmsg.payload={\n    \"pin\": pin,\n    \"setup\": \"GPIO.OUT\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":1420,"wires":[["7dafe1cf9de51414"]]},{"id":"9bfc1c8557a8abab","type":"http request","z":"9e74ffc274479be8","name":"Set status","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://{{{api_ip}}}:5080/api/{{{api_id}}}/gpio/setup","tls":"","persist":false,"proxy":"","authType":"","x":840,"y":1420,"wires":[["fed06582084daa80"]]},{"id":"7dafe1cf9de51414","type":"delay","z":"9e74ffc274479be8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":700,"y":1420,"wires":[["9bfc1c8557a8abab"]]},{"id":"fed06582084daa80","type":"switch","z":"9e74ffc274479be8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"OK","vt":"str"}],"checkall":"false","repair":true,"outputs":1,"x":970,"y":1420,"wires":[["192c9eacec632528"]]},{"id":"859fe30e277c6a8c","type":"delay","z":"9e74ffc274479be8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":560,"y":1480,"wires":[["26439b987bc2c1d1"]]},{"id":"4bef433aa195df98","type":"function","z":"9e74ffc274479be8","name":"Read API data","func":"var api_ip=flow.get('api_ip')\nvar api_id=flow.get('api_id')\nvar api_auth = flow.get('api_auth',msg.headers);\n\nmsg.api_ip=api_ip\nmsg.api_id=api_id\nmsg.headers=api_auth\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":320,"wires":[["3210225a3240a3be"]]},{"id":"4804f67b215ddbd0","type":"comment","z":"9e74ffc274479be8","name":"Change gpio low/high on pin 11","info":"Change gpio low/high","x":150,"y":2900,"wires":[]},{"id":"c6f8e26334177957","type":"function","z":"9e74ffc274479be8","name":"Read API data","func":"var api_ip=flow.get('api_ip')\nvar api_id=flow.get('api_id')\nvar api_auth = flow.get('api_auth',msg.headers);\n\nmsg.api_ip=api_ip\nmsg.api_id=api_id\nmsg.headers=api_auth\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":1720,"wires":[["c2aa4cd67f22e294"]]},{"id":"8e20966d6d4d83c8","type":"http request","z":"9e74ffc274479be8","name":"Add job","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://{{{api_ip}}}:5080/api/{{{api_id}}}/scheduler/add/gpio","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":640,"y":1720,"wires":[["2a504625d15fc144"]]},{"id":"1bd943dca0306c91","type":"comment","z":"9e74ffc274479be8","name":"Add gpio job at","info":"Add gpio job at","x":100,"y":1680,"wires":[]},{"id":"2476e27493e5216d","type":"function","z":"9e74ffc274479be8","name":"Read API data","func":"var api_ip=flow.get('api_ip')\nvar api_id=flow.get('api_id')\nvar api_auth = flow.get('api_auth',msg.headers);\n\nmsg.api_ip=api_ip\nmsg.api_id=api_id\nmsg.headers=api_auth\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":1560,"wires":[["5db666def0d082ff"]]},{"id":"5db666def0d082ff","type":"http request","z":"9e74ffc274479be8","name":"Add job","method":"DELETE","ret":"txt","paytoqs":"ignore","url":"http://{{{api_ip}}}:5080/api/{{{api_id}}}/scheduler/delete/{{{payload.job_id}}}","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":500,"y":1560,"wires":[["44b12290155cc3e4"]]},{"id":"c4db34c9ca636644","type":"ui_form","z":"9e74ffc274479be8","name":"","label":"","group":"e38f771551b1b0e1","order":1,"width":0,"height":0,"options":[{"label":"Job id","value":"job_id","type":"number","required":true,"rows":null}],"formValue":{"job_id":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":90,"y":1560,"wires":[["2476e27493e5216d"]]},{"id":"2a504625d15fc144","type":"switch","z":"9e74ffc274479be8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"OK","vt":"str"}],"checkall":"false","repair":true,"outputs":1,"x":790,"y":1720,"wires":[["4c16b081b71fdabc"]]},{"id":"44b12290155cc3e4","type":"switch","z":"9e74ffc274479be8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"OK","vt":"str"}],"checkall":"false","repair":true,"outputs":1,"x":790,"y":1560,"wires":[["4c16b081b71fdabc"]]},{"id":"d03f2e4588a09cb3","type":"comment","z":"9e74ffc274479be8","name":"Delete job","info":"Delete job","x":80,"y":1520,"wires":[]},{"id":"d510bbadbf2f17d0","type":"comment","z":"9e74ffc274479be8","name":"Interval API check and refresh data views","info":"Interval API check and refresh data views","x":180,"y":280,"wires":[]},{"id":"ff3f2d37d760bbe6","type":"ui_text","z":"9e74ffc274479be8","group":"31dabc2d.cc0f44","order":1,"width":0,"height":0,"name":"","label":"API status","format":"{{msg.payload}}","layout":"row-spread","className":"","x":990,"y":320,"wires":[]},{"id":"d3f3ae4eded6ea4b","type":"change","z":"9e74ffc274479be8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"PONG","fromt":"str","to":"up","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":320,"wires":[["ff3f2d37d760bbe6"]]},{"id":"1e12c8b008bba10d","type":"inject","z":"9e74ffc274479be8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":320,"wires":[["4bef433aa195df98"]]},{"id":"fd8e6248ee59e5bd","type":"function","z":"9e74ffc274479be8","name":"Init API data","func":"// Change your API data here.\nflow.set('api_ip','192.168.0.103');\nflow.set('api_id','7e89feb6-1221-4230-acaf-50473f69efb1');\nflow.set('api_user','j3QtNTQu28');\nflow.set('api_pin','8919');\n\n// Do not change the lines below \n// unless you know what you are doing.\nvar api_ip=flow.get('api_ip')\nvar api_id=flow.get('api_id')\nvar api_user=flow.get('api_user')\nvar api_pin=flow.get('api_pin')\n\nmsg.api_ip=api_ip\nmsg.api_id=api_id\nmsg.api_user=api_user\nmsg.api_pin=api_pin\n\nmsg.headers =\n{\n    \"username\": api_user,\n    \"password\": api_pin\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":130,"y":60,"wires":[["b639b9f4d06b4265"]],"info":"Insert your API data in this node"},{"id":"b639b9f4d06b4265","type":"change","z":"9e74ffc274479be8","name":"Auth. Basic","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\t    \"Authorization\": 'Basic ' & $base64encode(msg.api_user & ':' & msg.api_pin)\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":220,"wires":[["141a4eb724fab945"]]},{"id":"141a4eb724fab945","type":"function","z":"9e74ffc274479be8","name":"Set API auth","func":"flow.set('api_auth',msg.headers);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":220,"wires":[["4bef433aa195df98","4fd174aee0912590"]]},{"id":"ad90f97fe4734aaa","type":"inject","z":"9e74ffc274479be8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":130,"y":220,"wires":[["fd8e6248ee59e5bd"]]},{"id":"be33727a7ae021d6","type":"comment","z":"9e74ffc274479be8","name":"Load API configuration","info":"Load API configuration","x":120,"y":180,"wires":[]},{"id":"ed080afb1a28a6ad","type":"comment","z":"9e74ffc274479be8","name":"Load all configuration","info":"Load all configuration","x":140,"y":880,"wires":[]},{"id":"b6d6dca9bb73475e","type":"ui_button","z":"9e74ffc274479be8","name":"","group":"04320ce7b8d1bd92","order":2,"width":0,"height":0,"passthru":false,"label":"reboot","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":90,"y":700,"wires":[["2d7c12835720431f"]]},{"id":"2d7c12835720431f","type":"function","z":"9e74ffc274479be8","name":"Read API data","func":"var api_ip=flow.get('api_ip')\nvar api_id=flow.get('api_id')\nvar api_auth = flow.get('api_auth',msg.headers);\n\nmsg.api_ip=api_ip\nmsg.api_id=api_id\nmsg.headers=api_auth\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":700,"wires":[["add748048fd750d8"]]},{"id":"f794c77b7a42482f","type":"http request","z":"9e74ffc274479be8","name":"Pi reboot","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://{{{api_ip}}}:5080/api/{{{api_id}}}/daemon","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":600,"y":700,"wires":[["537172393676a440"]]},{"id":"add748048fd750d8","type":"function","z":"9e74ffc274479be8","name":"","func":"var cmd=\"PIREBOOT\"\nvar module_name=\"PIDEAMON\"\nmsg.payload={\n    \"cmd\":cmd,\n    \"module_name\":module_name\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":700,"wires":[["f794c77b7a42482f"]]},{"id":"f08ff8c45ad61f73","type":"ui_button","z":"9e74ffc274479be8","name":"","group":"35e78bdd9f199238","order":2,"width":0,"height":0,"passthru":false,"label":"restart","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":90,"y":460,"wires":[["a11904a65078aa5a"]]},{"id":"a11904a65078aa5a","type":"function","z":"9e74ffc274479be8","name":"Read API data","func":"var api_ip=flow.get('api_ip')\nvar api_id=flow.get('api_id')\nvar api_auth = flow.get('api_auth',msg.headers);\n\nmsg.api_ip=api_ip\nmsg.api_id=api_id\nmsg.headers=api_auth\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":460,"wires":[["dd1f4b2e974ab4d9"]]},{"id":"8b2a6aa7ee228c87","type":"http request","z":"9e74ffc274479be8","name":"restart Small Cube ","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://{{{api_ip}}}:5080/api/{{{api_id}}}/daemon","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":630,"y":460,"wires":[["26de1ecf31640e1e"]]},{"id":"dd1f4b2e974ab4d9","type":"function","z":"9e74ffc274479be8","name":"","func":"var cmd=\"RESTART\"\nvar module_name=\"PIDEAMON\"\nmsg.payload={\n    \"cmd\":cmd,\n    \"module_name\":module_name\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":460,"wires":[["8b2a6aa7ee228c87"]]},{"id":"ee4fef768993e2b2","type":"switch","z":"9e74ffc274479be8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"OK","vt":"str"}],"checkall":"false","repair":true,"outputs":1,"x":970,"y":460,"wires":[["9a85cd9e380671f8"]]},{"id":"9a85cd9e380671f8","type":"function","z":"9e74ffc274479be8","name":"Read API data","func":"var api_ip=flow.get('api_ip')\nvar api_id=flow.get('api_id')\nvar api_auth = flow.get('api_auth',msg.headers);\n\nmsg.api_ip=api_ip\nmsg.api_id=api_id\nmsg.headers=api_auth\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":520,"wires":[["c87e9b63344b6c67"]]},{"id":"8d58ca346a7b219c","type":"http request","z":"9e74ffc274479be8","name":"restart API","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://{{{api_ip}}}:5080/api/{{{api_id}}}/daemon","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":610,"y":520,"wires":[["7251da1d71f5c079"]]},{"id":"c87e9b63344b6c67","type":"function","z":"9e74ffc274479be8","name":"","func":"var cmd=\"RESTART_FLASK\"\nvar module_name=\"PIDEAMON\"\nmsg.payload={\n    \"cmd\":cmd,\n    \"module_name\":module_name\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":520,"wires":[["8d58ca346a7b219c"]]},{"id":"54aba3f787e23c14","type":"comment","z":"9e74ffc274479be8","name":"Reboot Pi","info":"Reboot Pi","x":80,"y":660,"wires":[]},{"id":"65b126dd80448570","type":"comment","z":"9e74ffc274479be8","name":"Restart SmallCube and API service","info":"Restart SmallCube and API service","x":160,"y":420,"wires":[]},{"id":"a0e5241263b3f4a9","type":"comment","z":"9e74ffc274479be8","name":"Add job script at","info":"Add job script at","x":100,"y":1600,"wires":[]},{"id":"aed958300dbb90f2","type":"function","z":"9e74ffc274479be8","name":"Read API data","func":"var api_ip=flow.get('api_ip')\nvar api_id=flow.get('api_id')\nvar api_auth = flow.get('api_auth',msg.headers);\n\nmsg.api_ip=api_ip\nmsg.api_id=api_id\nmsg.headers=api_auth\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":960,"wires":[["803c22e2a8d5ba9a"]]},{"id":"803c22e2a8d5ba9a","type":"http request","z":"9e74ffc274479be8","name":"Get configruation","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://{{{api_ip}}}:5080/api/{{{api_id}}}/get/conf","tls":"","persist":false,"proxy":"","authType":"","x":570,"y":960,"wires":[["2dff2e984c287258"]]},{"id":"3ff983b5d15e8ea4","type":"http request","z":"9e74ffc274479be8","name":"Get gpio","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://{{{api_ip}}}:5080/api/{{{api_id}}}/gpio","tls":"","persist":false,"proxy":"","authType":"","x":540,"y":1000,"wires":[["231e383288bfe4ee"]]},{"id":"977316a3e57c1144","type":"http request","z":"9e74ffc274479be8","name":"Get scheduler","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://{{{api_ip}}}:5080/api/{{{api_id}}}/scheduler","tls":"","persist":false,"proxy":"","authType":"","x":560,"y":1040,"wires":[["4a1505e39bba300f"]]},{"id":"2dff2e984c287258","type":"ui_template","z":"9e74ffc274479be8","group":"26b25476.b91984","name":"","order":1,"width":10,"height":6,"format":"<div ng-bind-html=\"msg.payload\">{{msg.payload}}</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":760,"y":960,"wires":[[]]},{"id":"231e383288bfe4ee","type":"ui_template","z":"9e74ffc274479be8","group":"f632c9be.2f0168","name":"","order":0,"width":"6","height":"6","format":"<div ng-bind-html=\"msg.payload\">{{msg.payload}}</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":760,"y":1000,"wires":[[]]},{"id":"791e4be0762e5be1","type":"ui_template","z":"9e74ffc274479be8","group":"f2296b43.d90e08","name":"","order":1,"width":"12","height":"4","format":"<h2>Job list</h2>\n<table>\n    <tr>\n        <th>id job</th>\n        <th>name</th>\n        <th>module</th>\n        <th>time</th>\n        <th>pin/script</th>\n        <th>enabled</th>\n    </tr>\n    <tr ng-repeat=\"(key, value) in msg.payload\">\n        <td>{{value.id}}</td>\n        <td>{{value.name}}</td>\n        <td>{{value.sch_name}}</td>\n        <td>{{value.sch_parm}}</td>\n        <td>{{value.parm}} {{value.pin_val}}</td>\n        <td>{{value.enabled}}</td>\n    </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":880,"y":1040,"wires":[[]]},{"id":"4f6af02f646d15d2","type":"http request","z":"9e74ffc274479be8","name":"Get Pi info","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://{{{api_ip}}}:5080/api/{{{api_id}}}/system/piinfo","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":550,"y":1080,"wires":[["b11ee495207c334e"]]},{"id":"56328b421818b251","type":"ui_template","z":"9e74ffc274479be8","group":"31dabc2d.cc0f44","name":"","order":2,"width":"12","height":"6","format":"<table>\n    <tr ng-repeat=\"(key, value) in msg.payload\">\n        <td valign=\"top\">{{key}}</td>\n        <td>{{value}}</td>\n    </tr>\n</table>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":880,"y":1080,"wires":[[]]},{"id":"4c16b081b71fdabc","type":"link out","z":"9e74ffc274479be8","name":"","mode":"link","links":["24cb9a022d213daa","5762e9d819b266fd","d862983cbcd17b82"],"x":1005,"y":1720,"wires":[]},{"id":"4fd174aee0912590","type":"delay","z":"9e74ffc274479be8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":860,"y":220,"wires":[["45323936bceccbcf"]]},{"id":"d630dcfa7dc01766","type":"function","z":"9e74ffc274479be8","name":"Read API data","func":"var api_ip=flow.get('api_ip')\nvar api_id=flow.get('api_id')\nvar api_auth = flow.get('api_auth',msg.headers);\n\nmsg.api_ip=api_ip\nmsg.api_id=api_id\nmsg.headers=api_auth\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":3000,"wires":[["ae516ba4bf70b307"]]},{"id":"e21f2378385cf6f0","type":"ui_switch","z":"9e74ffc274479be8","name":"","label":"pin 11","tooltip":"","group":"febd9c2cedfb35b8","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":530,"y":3000,"wires":[["4fcb2cb5e507a33d"]]},{"id":"d35320901641a1cf","type":"function","z":"9e74ffc274479be8","name":"set pin number","func":"// change pin numbe\nvar pin='11'\n\nflow.set('pin',pin);\nmsg.payload=pin\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":180,"y":2940,"wires":[["d630dcfa7dc01766"]]},{"id":"4fcb2cb5e507a33d","type":"function","z":"9e74ffc274479be8","name":"Read API data","func":"var api_ip=flow.get('api_ip')\nvar api_id=flow.get('api_id')\nvar api_auth = flow.get('api_auth',msg.headers);\n\nmsg.api_ip=api_ip\nmsg.api_id=api_id\nmsg.headers=api_auth\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":2940,"wires":[["42fe8b56ede9c50a"]]},{"id":"42fe8b56ede9c50a","type":"function","z":"9e74ffc274479be8","name":"","func":"var pin=flow.get('pin');\n\nif(msg.payload==true){\n    msg.payload={\"pin\":pin,\"output\":0}\n} else {\n    msg.payload={\"pin\":pin,\"output\":1}\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":3000,"wires":[["6db92d202b78d619"]]},{"id":"6db92d202b78d619","type":"http request","z":"9e74ffc274479be8","name":"Change gpio low/high","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://{{{api_ip}}}:5080/api/{{{api_id}}}/gpio/output","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":920,"y":2940,"wires":[["fad17cb5b9eb0a31"]]},{"id":"165549e841bd2baf","type":"ping","z":"9e74ffc274479be8","protocol":"IPv4","mode":"triggered","name":"","host":"","timer":"20","inputs":1,"x":950,"y":360,"wires":[[]]},{"id":"79635d0bd8393471","type":"function","z":"9e74ffc274479be8","name":"Read API data","func":"var api_ip=flow.get('api_ip')\nmsg.payload=api_ip\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":360,"wires":[["165549e841bd2baf"]]},{"id":"26de1ecf31640e1e","type":"delay","z":"9e74ffc274479be8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":820,"y":460,"wires":[["ee4fef768993e2b2"]]},{"id":"537172393676a440","type":"switch","z":"9e74ffc274479be8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"OK","vt":"str"}],"checkall":"false","repair":true,"outputs":1,"x":750,"y":700,"wires":[["a6703135c469f698"]]},{"id":"a6703135c469f698","type":"delay","z":"9e74ffc274479be8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":900,"y":700,"wires":[["53902e33bfe9e4f8"]]},{"id":"53902e33bfe9e4f8","type":"link out","z":"9e74ffc274479be8","name":"","mode":"link","links":["24cb9a022d213daa","519f06731d480c65"],"x":1005,"y":700,"wires":[]},{"id":"99bc88190605473e","type":"switch","z":"9e74ffc274479be8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"OK","vt":"str"}],"checkall":"false","repair":true,"outputs":1,"x":930,"y":520,"wires":[["14517e28a2e8e862"]]},{"id":"14517e28a2e8e862","type":"link out","z":"9e74ffc274479be8","name":"","mode":"link","links":["24cb9a022d213daa","519f06731d480c65"],"x":1035,"y":520,"wires":[]},{"id":"7251da1d71f5c079","type":"delay","z":"9e74ffc274479be8","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":780,"y":520,"wires":[["99bc88190605473e"]]},{"id":"ae516ba4bf70b307","type":"subflow:16f9fe36952d6e59","z":"9e74ffc274479be8","name":"","x":410,"y":2940,"wires":[["e21f2378385cf6f0"]]},{"id":"45323936bceccbcf","type":"link out","z":"9e74ffc274479be8","name":"","mode":"link","links":["7feeca62cfa96340","be48d2de3321a72e","5d6e4b8cd5c49d0f","a2400a280e16f50b","519f06731d480c65","17eeed0677d0606e","2cfd124a56e0eb86"],"x":965,"y":220,"wires":[]},{"id":"7feeca62cfa96340","type":"link in","z":"9e74ffc274479be8","name":"","links":["45323936bceccbcf"],"x":45,"y":2940,"wires":[["d35320901641a1cf"]]},{"id":"b11ee495207c334e","type":"json","z":"9e74ffc274479be8","name":"","property":"payload","action":"obj","pretty":false,"x":750,"y":1080,"wires":[["56328b421818b251"]]},{"id":"4a1505e39bba300f","type":"json","z":"9e74ffc274479be8","name":"","property":"payload","action":"obj","pretty":false,"x":750,"y":1040,"wires":[["791e4be0762e5be1"]]},{"id":"e61a7538b0dc35be","type":"function","z":"9e74ffc274479be8","name":"Read API data","func":"var api_ip=flow.get('api_ip')\nvar api_id=flow.get('api_id')\nvar api_auth = flow.get('api_auth',msg.headers);\n\nmsg.api_ip=api_ip\nmsg.api_id=api_id\nmsg.headers=api_auth\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":3120,"wires":[["f8d9d42e98c89ba4"]]},{"id":"f8d9d42e98c89ba4","type":"http request","z":"9e74ffc274479be8","name":"Get smallcube log","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://{{{api_ip}}}:5080/api/{{{api_id}}}/log/show/smallcube.py.log","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":550,"y":3120,"wires":[["7d73b5c7fdea178f"]]},{"id":"c1c16d479cd72e64","type":"function","z":"9e74ffc274479be8","name":"Read API data","func":"var api_ip=flow.get('api_ip')\nvar api_id=flow.get('api_id')\nvar api_auth = flow.get('api_auth',msg.headers);\n\nmsg.api_ip=api_ip\nmsg.api_id=api_id\nmsg.headers=api_auth\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":3200,"wires":[["784a0c0a94af7c55"]]},{"id":"784a0c0a94af7c55","type":"http request","z":"9e74ffc274479be8","name":"Get api smallcube log","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://{{{api_ip}}}:5080/api/{{{api_id}}}/log/show/api_smallcube.py.log","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":560,"y":3200,"wires":[["7d73b5c7fdea178f"]]},{"id":"911382cf0bb89dec","type":"comment","z":"9e74ffc274479be8","name":"Get smallcube log","info":"Get smallcube log","x":110,"y":3080,"wires":[]},{"id":"6d4e7434c6eff750","type":"comment","z":"9e74ffc274479be8","name":"Get api smallcube log","info":"Get api smallcube log","x":120,"y":3160,"wires":[]},{"id":"7d73b5c7fdea178f","type":"json","z":"9e74ffc274479be8","name":"","property":"payload","action":"obj","pretty":false,"x":770,"y":3160,"wires":[["dbef721552750b4a"]]},{"id":"dbef721552750b4a","type":"ui_template","z":"9e74ffc274479be8","group":"e614f3f4765874d7","name":"","order":3,"width":"13","height":"12","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":940,"y":3160,"wires":[[]]},{"id":"ac8648d8daf4122e","type":"ui_button","z":"9e74ffc274479be8","name":"","group":"a69b420674ee0d61","order":2,"width":0,"height":0,"passthru":false,"label":"show log","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":100,"y":3120,"wires":[["e61a7538b0dc35be"]]},{"id":"becbdc68aaeefc18","type":"ui_button","z":"9e74ffc274479be8","name":"","group":"a69b420674ee0d61","order":1,"width":0,"height":0,"passthru":false,"label":"show api log","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":110,"y":3200,"wires":[["c1c16d479cd72e64"]]},{"id":"045d429eec61d213","type":"ui_button","z":"9e74ffc274479be8","name":"","group":"04320ce7b8d1bd92","order":1,"width":0,"height":0,"passthru":false,"label":"upgrade","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":100,"y":780,"wires":[["3e76e7dd73378cf0"]]},{"id":"3e76e7dd73378cf0","type":"function","z":"9e74ffc274479be8","name":"Read API data","func":"var api_ip=flow.get('api_ip')\nvar api_id=flow.get('api_id')\nvar api_auth = flow.get('api_auth',msg.headers);\n\nmsg.api_ip=api_ip\nmsg.api_id=api_id\nmsg.headers=api_auth\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":780,"wires":[["c278dbe28814e7a9"]]},{"id":"5894a7cf940bca0a","type":"http request","z":"9e74ffc274479be8","name":"Pi upgrade","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://{{{api_ip}}}:5080/api/{{{api_id}}}/daemon","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":610,"y":780,"wires":[["b5a62a6e0df24ad3"]]},{"id":"c278dbe28814e7a9","type":"function","z":"9e74ffc274479be8","name":"","func":"var cmd=\"PIUPGRADE\"\nvar module_name=\"PIDEAMON\"\nmsg.payload={\n    \"cmd\":cmd,\n    \"module_name\":module_name\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":780,"wires":[["5894a7cf940bca0a"]]},{"id":"b5a62a6e0df24ad3","type":"switch","z":"9e74ffc274479be8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"OK","vt":"str"}],"checkall":"false","repair":true,"outputs":1,"x":750,"y":780,"wires":[["74d84fddb7f9d293"]]},{"id":"74d84fddb7f9d293","type":"delay","z":"9e74ffc274479be8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":900,"y":780,"wires":[["60baa1b13810f200"]]},{"id":"60baa1b13810f200","type":"link out","z":"9e74ffc274479be8","name":"","mode":"link","links":["24cb9a022d213daa","519f06731d480c65"],"x":1005,"y":780,"wires":[]},{"id":"430592576ea12b55","type":"comment","z":"9e74ffc274479be8","name":"Upgrade Pi","info":"Upgrade Pi","x":80,"y":740,"wires":[]},{"id":"3b0dd09355b00ee1","type":"http request","z":"9e74ffc274479be8","name":"Get script list","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://{{{api_ip}}}:5080/api/{{{api_id}}}/scripts","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":550,"y":1120,"wires":[["33131b732657c1c2"]]},{"id":"cd2141fa1178e7f8","type":"http request","z":"9e74ffc274479be8","name":"Get plugin data","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://{{{api_ip}}}:5080/api/{{{api_id}}}/plugins","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":560,"y":1160,"wires":[["af673f18e0542587"]]},{"id":"33131b732657c1c2","type":"json","z":"9e74ffc274479be8","name":"","property":"payload","action":"obj","pretty":false,"x":750,"y":1120,"wires":[["53da2aa88146444c"]]},{"id":"53da2aa88146444c","type":"ui_template","z":"9e74ffc274479be8","group":"f2296b43.d90e08","name":"template","order":6,"width":0,"height":0,"format":"<h2>Available scripts</h2>\n<table>\n    <tr ng-repeat=\"(key, value) in msg.payload\">\n        <td>{{value}}</td>\n    </tr>\n</table>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":880,"y":1120,"wires":[[]]},{"id":"7f5d9ec5c4cf6716","type":"ui_button","z":"9e74ffc274479be8","d":true,"name":"","group":"35e78bdd9f199238","order":2,"width":0,"height":0,"passthru":false,"label":"reset conf","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":100,"y":600,"wires":[["aaa693eb760839da"]]},{"id":"aaa693eb760839da","type":"function","z":"9e74ffc274479be8","name":"Read API data","func":"var api_ip=flow.get('api_ip')\nvar api_id=flow.get('api_id')\nvar api_auth = flow.get('api_auth',msg.headers);\n\nmsg.api_ip=api_ip\nmsg.api_id=api_id\nmsg.headers=api_auth\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":600,"wires":[["e48b2d978eccbea3"]]},{"id":"d11f0f51c0b7fab0","type":"http request","z":"9e74ffc274479be8","name":"reset conf","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://{{{api_ip}}}:5080/api/{{{api_id}}}/daemon","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":740,"y":600,"wires":[[]]},{"id":"e48b2d978eccbea3","type":"function","z":"9e74ffc274479be8","name":"","func":"var cmd=\"RESTART\"\nvar module_name=\"PIDEAMON\"\nmsg.payload={\n    \"cmd\":cmd,\n    \"module_name\":module_name\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":600,"wires":[["d11f0f51c0b7fab0"]]},{"id":"163453488bed9cc4","type":"function","z":"9e74ffc274479be8","name":"Read API data","func":"var api_ip=flow.get('api_ip')\nvar api_id=flow.get('api_id')\nvar api_auth = flow.get('api_auth',msg.headers);\n\nmsg.api_ip=api_ip\nmsg.api_id=api_id\nmsg.headers=api_auth\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":2400,"wires":[["863ea02fe3bbb8e9"]]},{"id":"052989456b27657e","type":"function","z":"9e74ffc274479be8","name":"","func":"var mod=\"SCRIPT\"\nvar parm=\"status\"\n\nmsg.payload={\n    \"mod\":mod,\n    \"parm\":parm\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":220,"y":2460,"wires":[["163453488bed9cc4"]]},{"id":"f9a11bae16d3429d","type":"http request","z":"9e74ffc274479be8","name":"Enable script module","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://{{{api_ip}}}:5080/api/{{{api_id}}}/set/conf","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":960,"y":2460,"wires":[["8dda490723c6b7ad"]]},{"id":"b49eec0f8d2eb380","type":"function","z":"9e74ffc274479be8","name":"Read API data","func":"var api_ip=flow.get('api_ip')\nvar api_id=flow.get('api_id')\nvar api_auth = flow.get('api_auth',msg.headers);\n\nmsg.api_ip=api_ip\nmsg.api_id=api_id\nmsg.headers=api_auth\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":2460,"wires":[["51af755f5cd615d0"]]},{"id":"b0d51172766d6e81","type":"ui_switch","z":"9e74ffc274479be8","name":"","label":"Enable script module","tooltip":"","group":"bd7bdcdc.e587c8","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"payload","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":580,"y":2400,"wires":[["b49eec0f8d2eb380"]]},{"id":"8dda490723c6b7ad","type":"switch","z":"9e74ffc274479be8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"OK","vt":"str"}],"checkall":"false","repair":true,"outputs":1,"x":1030,"y":2400,"wires":[["de6073a5c94da6ab","5a3d922ac2e32fc2"]]},{"id":"51af755f5cd615d0","type":"function","z":"9e74ffc274479be8","name":"","func":"if(msg.payload==true){\n    msg.payload={\n    \"module_name\": \"SCRIPT\",\n    \"name\": \"status\",\n    \"val\": \"on\"\n}\n} else {\n    msg.payload={\n    \"module_name\": \"SCRIPT\",\n    \"name\": \"status\",\n    \"val\": \"off\"\n}\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":2400,"wires":[["f9a11bae16d3429d"]]},{"id":"be48d2de3321a72e","type":"link in","z":"9e74ffc274479be8","name":"","links":["45323936bceccbcf"],"x":45,"y":2460,"wires":[["052989456b27657e"]]},{"id":"777203d9c2b2fc97","type":"link in","z":"9e74ffc274479be8","name":"","links":["de6073a5c94da6ab"],"x":45,"y":2400,"wires":[["052989456b27657e"]]},{"id":"de6073a5c94da6ab","type":"link out","z":"9e74ffc274479be8","name":"","mode":"link","links":["777203d9c2b2fc97"],"x":1145,"y":2260,"wires":[]},{"id":"07637bc493334778","type":"comment","z":"9e74ffc274479be8","name":"Enable script module","info":"Enable script module","x":120,"y":2360,"wires":[]},{"id":"5a3d922ac2e32fc2","type":"link out","z":"9e74ffc274479be8","name":"","mode":"link","links":["24cb9a022d213daa","0f20e3d09e479bfe"],"x":1145,"y":2320,"wires":[]},{"id":"8cc832c424f7d754","type":"function","z":"9e74ffc274479be8","name":"Read API data","func":"var api_ip=flow.get('api_ip')\nvar api_id=flow.get('api_id')\nvar api_auth = flow.get('api_auth',msg.headers);\n\nmsg.api_ip=api_ip\nmsg.api_id=api_id\nmsg.headers=api_auth\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":2580,"wires":[["624e490aecce3896"]]},{"id":"dd6b14153cb86bb3","type":"function","z":"9e74ffc274479be8","name":"","func":"var mod=\"GPIO\"\nvar parm=\"status\"\n\nmsg.payload={\n    \"mod\":mod,\n    \"parm\":parm\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":220,"y":2640,"wires":[["8cc832c424f7d754"]]},{"id":"1d6104e44fe21f55","type":"http request","z":"9e74ffc274479be8","name":"Enable gpio module","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://{{{api_ip}}}:5080/api/{{{api_id}}}/set/conf","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":960,"y":2640,"wires":[["a3775aef4ec30c85"]]},{"id":"280ffbf4ba16af94","type":"function","z":"9e74ffc274479be8","name":"Read API data","func":"var api_ip=flow.get('api_ip')\nvar api_id=flow.get('api_id')\nvar api_auth = flow.get('api_auth',msg.headers);\n\nmsg.api_ip=api_ip\nmsg.api_id=api_id\nmsg.headers=api_auth\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":2640,"wires":[["d1bfe736228a403a"]]},{"id":"467bfbc0c2f8e2e1","type":"ui_switch","z":"9e74ffc274479be8","name":"","label":"Enable gpio module","tooltip":"","group":"bd7bdcdc.e587c8","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"payload","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":580,"y":2580,"wires":[["280ffbf4ba16af94"]]},{"id":"a3775aef4ec30c85","type":"switch","z":"9e74ffc274479be8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"OK","vt":"str"}],"checkall":"false","repair":true,"outputs":1,"x":1030,"y":2580,"wires":[["32c7adadf2f4abd8","f3797f5baa1aa325"]]},{"id":"d1bfe736228a403a","type":"function","z":"9e74ffc274479be8","name":"","func":"if(msg.payload==true){\n    msg.payload={\n    \"module_name\": \"GPIO\",\n    \"name\": \"status\",\n    \"val\": \"on\"\n}\n} else {\n    msg.payload={\n    \"module_name\": \"GPIO\",\n    \"name\": \"status\",\n    \"val\": \"off\"\n}\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":2580,"wires":[["1d6104e44fe21f55"]]},{"id":"5d6e4b8cd5c49d0f","type":"link in","z":"9e74ffc274479be8","name":"","links":["45323936bceccbcf"],"x":45,"y":2640,"wires":[["dd6b14153cb86bb3"]]},{"id":"9b9e467b30e14e6d","type":"link in","z":"9e74ffc274479be8","name":"","links":["32c7adadf2f4abd8"],"x":45,"y":2580,"wires":[["dd6b14153cb86bb3"]]},{"id":"32c7adadf2f4abd8","type":"link out","z":"9e74ffc274479be8","name":"","mode":"link","links":["9b9e467b30e14e6d"],"x":1145,"y":2440,"wires":[]},{"id":"fa68b2e85320f2c7","type":"comment","z":"9e74ffc274479be8","name":"Enable gpio module","info":"Enable gpio module","x":110,"y":2540,"wires":[]},{"id":"f3797f5baa1aa325","type":"link out","z":"9e74ffc274479be8","name":"","mode":"link","links":["24cb9a022d213daa","0f20e3d09e479bfe"],"x":1145,"y":2500,"wires":[]},{"id":"7137972fa2c6a638","type":"function","z":"9e74ffc274479be8","name":"Read API data","func":"var api_ip=flow.get('api_ip')\nvar api_id=flow.get('api_id')\nvar api_auth = flow.get('api_auth',msg.headers);\n\nmsg.api_ip=api_ip\nmsg.api_id=api_id\nmsg.headers=api_auth\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":2760,"wires":[["94e8f9f4f99969e4"]]},{"id":"b3ec49caa669ee98","type":"function","z":"9e74ffc274479be8","name":"","func":"var mod=\"GPIO\"\nvar parm=\"gpio_setwarnings\"\n\nmsg.payload={\n    \"mod\":mod,\n    \"parm\":parm\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":220,"y":2820,"wires":[["7137972fa2c6a638"]]},{"id":"2d8951f496618f2a","type":"http request","z":"9e74ffc274479be8","name":"Enable script module","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://{{{api_ip}}}:5080/api/{{{api_id}}}/set/conf","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":960,"y":2820,"wires":[["4e29f42020521cef"]]},{"id":"362738823a282ab6","type":"function","z":"9e74ffc274479be8","name":"Read API data","func":"var api_ip=flow.get('api_ip')\nvar api_id=flow.get('api_id')\nvar api_auth = flow.get('api_auth',msg.headers);\n\nmsg.api_ip=api_ip\nmsg.api_id=api_id\nmsg.headers=api_auth\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":2820,"wires":[["28de48e8c5ce3778"]]},{"id":"9ba1284735bddd02","type":"ui_switch","z":"9e74ffc274479be8","name":"","label":"Enable gpio setwarnings","tooltip":"","group":"bd7bdcdc.e587c8","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"payload","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":590,"y":2760,"wires":[["362738823a282ab6"]]},{"id":"4e29f42020521cef","type":"switch","z":"9e74ffc274479be8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"OK","vt":"str"}],"checkall":"false","repair":true,"outputs":1,"x":1030,"y":2760,"wires":[["b82710fa28689a19","8b7a669e48222642"]]},{"id":"28de48e8c5ce3778","type":"function","z":"9e74ffc274479be8","name":"","func":"if(msg.payload==true){\n    msg.payload={\n    \"module_name\": \"GPIO\",\n    \"name\": \"gpio_setwarnings\",\n    \"val\": \"True\"\n}\n} else {\n    msg.payload={\n    \"module_name\": \"GPIO\",\n    \"name\": \"gpio_setwarnings\",\n    \"val\": \"False\"\n}\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":2760,"wires":[["2d8951f496618f2a"]]},{"id":"a2400a280e16f50b","type":"link in","z":"9e74ffc274479be8","name":"","links":["45323936bceccbcf"],"x":45,"y":2820,"wires":[["b3ec49caa669ee98"]]},{"id":"cb90f2c1b02d702f","type":"comment","z":"9e74ffc274479be8","name":"Enable gpio setwarnings","info":"Enable gpio setwarnings","x":130,"y":2720,"wires":[]},{"id":"b82710fa28689a19","type":"link out","z":"9e74ffc274479be8","name":"","mode":"link","links":["24cb9a022d213daa","0f20e3d09e479bfe"],"x":1145,"y":2680,"wires":[]},{"id":"8b7a669e48222642","type":"link out","z":"9e74ffc274479be8","name":"","mode":"link","links":["e2b6ec04d2895d86"],"x":1145,"y":2620,"wires":[]},{"id":"e2b6ec04d2895d86","type":"link in","z":"9e74ffc274479be8","name":"","links":["8b7a669e48222642"],"x":45,"y":2760,"wires":[["b3ec49caa669ee98"]]},{"id":"94e8f9f4f99969e4","type":"subflow:d030392ecc3d3feb","z":"9e74ffc274479be8","name":"","x":450,"y":2820,"wires":[["9ba1284735bddd02"]]},{"id":"624e490aecce3896","type":"subflow:ec429f445c573ae9","z":"9e74ffc274479be8","name":"","x":450,"y":2640,"wires":[["467bfbc0c2f8e2e1"]]},{"id":"863ea02fe3bbb8e9","type":"subflow:ec429f445c573ae9","z":"9e74ffc274479be8","name":"","x":450,"y":2460,"wires":[["b0d51172766d6e81"]]},{"id":"9e2aa0acf2314996","type":"function","z":"9e74ffc274479be8","name":"Read API data","func":"var api_ip=flow.get('api_ip')\nvar api_id=flow.get('api_id')\nvar api_auth = flow.get('api_auth',msg.headers);\n\nmsg.api_ip=api_ip\nmsg.api_id=api_id\nmsg.headers=api_auth\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":1000,"wires":[["3ff983b5d15e8ea4"]]},{"id":"c23ed3fd6cb3ec70","type":"function","z":"9e74ffc274479be8","name":"Read API data","func":"var api_ip=flow.get('api_ip')\nvar api_id=flow.get('api_id')\nvar api_auth = flow.get('api_auth',msg.headers);\n\nmsg.api_ip=api_ip\nmsg.api_id=api_id\nmsg.headers=api_auth\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":1040,"wires":[["977316a3e57c1144"]]},{"id":"8592f6f70fd57ae8","type":"function","z":"9e74ffc274479be8","name":"Read API data","func":"var api_ip=flow.get('api_ip')\nvar api_id=flow.get('api_id')\nvar api_auth = flow.get('api_auth',msg.headers);\n\nmsg.api_ip=api_ip\nmsg.api_id=api_id\nmsg.headers=api_auth\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":1080,"wires":[["4f6af02f646d15d2"]]},{"id":"a33f94baa9a4beb9","type":"function","z":"9e74ffc274479be8","name":"Read API data","func":"var api_ip=flow.get('api_ip')\nvar api_id=flow.get('api_id')\nvar api_auth = flow.get('api_auth',msg.headers);\n\nmsg.api_ip=api_ip\nmsg.api_id=api_id\nmsg.headers=api_auth\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":1120,"wires":[["3b0dd09355b00ee1"]]},{"id":"52fd197ccbf4bccc","type":"function","z":"9e74ffc274479be8","name":"Read API data","func":"var api_ip=flow.get('api_ip')\nvar api_id=flow.get('api_id')\nvar api_auth = flow.get('api_auth',msg.headers);\n\nmsg.api_ip=api_ip\nmsg.api_id=api_id\nmsg.headers=api_auth\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":1160,"wires":[["cd2141fa1178e7f8"]]},{"id":"192c9eacec632528","type":"link out","z":"9e74ffc274479be8","name":"","mode":"link","links":["eb0688c6bf9294f8","27d075e099f8ea86"],"x":1055,"y":1420,"wires":[]},{"id":"eb0688c6bf9294f8","type":"link in","z":"9e74ffc274479be8","name":"","links":["192c9eacec632528"],"x":55,"y":1000,"wires":[["9e2aa0acf2314996"]]},{"id":"519f06731d480c65","type":"link in","z":"9e74ffc274479be8","name":"","links":["45323936bceccbcf","14517e28a2e8e862","53902e33bfe9e4f8","60baa1b13810f200"],"x":55,"y":920,"wires":[["e16d6ee938db5196"]]},{"id":"5762e9d819b266fd","type":"link in","z":"9e74ffc274479be8","name":"","links":["4c16b081b71fdabc","c5d0068f216b446d"],"x":55,"y":1040,"wires":[["c23ed3fd6cb3ec70"]]},{"id":"0f20e3d09e479bfe","type":"link in","z":"9e74ffc274479be8","name":"","links":["5a3d922ac2e32fc2","f3797f5baa1aa325","b82710fa28689a19","83681fcb2bebb908","35579eba7de90c0c"],"x":55,"y":960,"wires":[["aed958300dbb90f2"]]},{"id":"700a92bdd7ca9ec7","type":"link in","z":"9e74ffc274479be8","name":"","links":[],"x":55,"y":1080,"wires":[["8592f6f70fd57ae8"]]},{"id":"d862983cbcd17b82","type":"link in","z":"9e74ffc274479be8","name":"","links":["4c16b081b71fdabc"],"x":55,"y":1120,"wires":[["a33f94baa9a4beb9"]]},{"id":"fad17cb5b9eb0a31","type":"link out","z":"9e74ffc274479be8","name":"","mode":"link","links":["18204542e32f167c"],"x":1065,"y":2940,"wires":[]},{"id":"18204542e32f167c","type":"link in","z":"9e74ffc274479be8","name":"","links":["fad17cb5b9eb0a31"],"x":45,"y":2980,"wires":[["d35320901641a1cf"]]},{"id":"b68056296eeb7cc8","type":"function","z":"9e74ffc274479be8","name":"Read API data","func":"var api_ip=flow.get('api_ip')\nvar api_id=flow.get('api_id')\nvar api_auth = flow.get('api_auth',msg.headers);\n\nmsg.api_ip=api_ip\nmsg.api_id=api_id\nmsg.headers=api_auth\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":1800,"wires":[["073e804138a6222b"]]},{"id":"e7daa659ab33fe2a","type":"http request","z":"9e74ffc274479be8","name":"Add job","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://{{{api_ip}}}:5080/api/{{{api_id}}}/scheduler/add/plugin","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":640,"y":1800,"wires":[["35da5f2736286ca9"]]},{"id":"35da5f2736286ca9","type":"switch","z":"9e74ffc274479be8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"OK","vt":"str"}],"checkall":"false","repair":true,"outputs":1,"x":790,"y":1800,"wires":[["4c16b081b71fdabc"]]},{"id":"97b753bc34c241b0","type":"comment","z":"9e74ffc274479be8","name":"Add job plugin at","info":"Add job plugin at","x":100,"y":1760,"wires":[]},{"id":"ad190f7d25c09796","type":"function","z":"9e74ffc274479be8","name":"Read API data","func":"var api_ip=flow.get('api_ip')\nvar api_id=flow.get('api_id')\nvar api_auth = flow.get('api_auth',msg.headers);\n\nmsg.api_ip=api_ip\nmsg.api_id=api_id\nmsg.headers=api_auth\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":2240,"wires":[["b810ad22e04fef55"]]},{"id":"351b48fce64eb2ac","type":"function","z":"9e74ffc274479be8","name":"","func":"var mod=\"PLUGIN\"\nvar parm=\"status\"\n\nmsg.payload={\n    \"mod\":mod,\n    \"parm\":parm\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":220,"y":2300,"wires":[["ad190f7d25c09796"]]},{"id":"41bbae5e5ee43b48","type":"http request","z":"9e74ffc274479be8","name":"Enable plugin module","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://{{{api_ip}}}:5080/api/{{{api_id}}}/set/conf","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":960,"y":2300,"wires":[["b1b698b979f00a4b"]]},{"id":"f6bf9673157cbca1","type":"function","z":"9e74ffc274479be8","name":"Read API data","func":"var api_ip=flow.get('api_ip')\nvar api_id=flow.get('api_id')\nvar api_auth = flow.get('api_auth',msg.headers);\n\nmsg.api_ip=api_ip\nmsg.api_id=api_id\nmsg.headers=api_auth\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":2300,"wires":[["d4ed93cccfc5e81a"]]},{"id":"9bd23a5d23bd41ea","type":"ui_switch","z":"9e74ffc274479be8","name":"","label":"Enable plugin module","tooltip":"","group":"bd7bdcdc.e587c8","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"payload","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":580,"y":2240,"wires":[["f6bf9673157cbca1"]]},{"id":"b1b698b979f00a4b","type":"switch","z":"9e74ffc274479be8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"OK","vt":"str"}],"checkall":"false","repair":true,"outputs":1,"x":1030,"y":2240,"wires":[["7c642577da6f7399","83681fcb2bebb908"]]},{"id":"d4ed93cccfc5e81a","type":"function","z":"9e74ffc274479be8","name":"","func":"if(msg.payload==true){\n    msg.payload={\n    \"module_name\": \"PLUGIN\",\n    \"name\": \"status\",\n    \"val\": \"on\"\n}\n} else {\n    msg.payload={\n    \"module_name\": \"PLUGIN\",\n    \"name\": \"status\",\n    \"val\": \"off\"\n}\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":2240,"wires":[["41bbae5e5ee43b48"]]},{"id":"17eeed0677d0606e","type":"link in","z":"9e74ffc274479be8","name":"","links":["45323936bceccbcf"],"x":45,"y":2300,"wires":[["351b48fce64eb2ac"]]},{"id":"2616a3a97e207b6f","type":"link in","z":"9e74ffc274479be8","name":"","links":["7c642577da6f7399"],"x":45,"y":2240,"wires":[["351b48fce64eb2ac"]]},{"id":"7c642577da6f7399","type":"link out","z":"9e74ffc274479be8","name":"","mode":"link","links":["2616a3a97e207b6f"],"x":1145,"y":2100,"wires":[]},{"id":"3dab4373bb91f3e1","type":"comment","z":"9e74ffc274479be8","name":"Enable plugin module","info":"Enable plugin module","x":120,"y":2200,"wires":[]},{"id":"83681fcb2bebb908","type":"link out","z":"9e74ffc274479be8","name":"","mode":"link","links":["24cb9a022d213daa","0f20e3d09e479bfe"],"x":1145,"y":2160,"wires":[]},{"id":"b810ad22e04fef55","type":"subflow:ec429f445c573ae9","z":"9e74ffc274479be8","name":"","x":450,"y":2300,"wires":[["9bd23a5d23bd41ea"]]},{"id":"4dfd897d20a0a243","type":"link in","z":"9e74ffc274479be8","name":"","links":[],"x":55,"y":1160,"wires":[["52fd197ccbf4bccc"]]},{"id":"af673f18e0542587","type":"json","z":"9e74ffc274479be8","name":"","property":"payload","action":"obj","pretty":false,"x":750,"y":1160,"wires":[["715863525be4b1a9"]]},{"id":"715863525be4b1a9","type":"ui_template","z":"9e74ffc274479be8","group":"f2296b43.d90e08","name":"template","order":6,"width":0,"height":0,"format":"<h2>Available plugin</h2>\n<table>\n    <tr ng-repeat=\"(key, value) in msg.payload\">\n        <td>{{value}}</td>\n    </tr>\n</table>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":880,"y":1160,"wires":[[]]},{"id":"3f58b2fcd4ee051e","type":"ui_form","z":"9e74ffc274479be8","name":"","label":"Period","group":"d721670bca69aa24","order":4,"width":0,"height":0,"options":[{"label":"Name","value":"sch_name","type":"text","required":true,"rows":null},{"label":"Dis / Ena","value":"sch_enabled","type":"switch","required":false,"rows":null},{"label":"Plugin","value":"sch_script_name","type":"text","required":true,"rows":null},{"label":"Period","value":"sch_period","type":"number","required":false,"rows":null},{"label":"seconds","value":"p_seconds","type":"checkbox","required":false,"rows":null},{"label":"minutes","value":"p_minutes","type":"checkbox","required":false,"rows":null},{"label":"hours","value":"p_hours","type":"checkbox","required":false,"rows":null},{"label":"days","value":"p_days","type":"checkbox","required":false,"rows":null},{"label":"weeks","value":"p_weeks","type":"checkbox","required":false,"rows":null}],"formValue":{"sch_name":"","sch_enabled":false,"sch_script_name":"","sch_period":"","p_seconds":false,"p_minutes":false,"p_hours":false,"p_days":false,"p_weeks":false},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":true,"className":"","x":90,"y":1900,"wires":[["9c1e770dd43daaa9"]]},{"id":"9c1e770dd43daaa9","type":"function","z":"9e74ffc274479be8","name":"Read API data","func":"var api_ip=flow.get('api_ip')\nvar api_id=flow.get('api_id')\nvar api_auth = flow.get('api_auth',msg.headers);\n\nmsg.api_ip=api_ip\nmsg.api_id=api_id\nmsg.headers=api_auth\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":1900,"wires":[["dd40bbb9d71ee1e3"]]},{"id":"22acaa3843523426","type":"http request","z":"9e74ffc274479be8","name":"Add job","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://{{{api_ip}}}:5080/api/{{{api_id}}}/scheduler/add/plugin","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":640,"y":1900,"wires":[["c4e9ba9fe626c0b7"]]},{"id":"dd40bbb9d71ee1e3","type":"function","z":"9e74ffc274479be8","name":"","func":"var sch_name=msg.payload.sch_name\nvar sch_script_name=msg.payload.sch_script_name\nvar sch_period=msg.payload.sch_period\nvar sch_enable=msg.payload.sch_enabled\n\nvar p_seconds=msg.payload.p_seconds\nvar p_minutes=msg.payload.p_minutes\nvar p_hours=msg.payload.p_hours\nvar p_days=msg.payload.p_days\nvar p_weeks=msg.payload.p_weeks\n\nvar name=sch_name\n\nif (p_seconds==true){\n    var schedule_name=\"seconds\"\n}\n\nif (p_minutes==true){\n    var schedule_name=\"minutes\"\n}\n\nif (p_hours==true){\n    var schedule_name=\"hours\"\n}\n\nif (p_days==true){\n    var schedule_name=\"days\"\n}\n\nif (p_weeks==true){\n    var schedule_name=\"weeks\"\n}\n\nvar schedule_parm=sch_period\nvar module_name=\"PLUGIN\"\nvar enabled=sch_enable\nvar script_name=sch_script_name\n\nif (enabled==true) {\n    enabled=\"1\"\n} else {\n    enabled=\"0\"\n}\n\nmsg.payload={\n    \"name\":name,\n    \"schedule_name\":schedule_name,\n    \"schedule_parm\":schedule_parm,\n    \"module_name\":module_name,\n    \"script_name\":script_name,\n    \"enabled\":enabled\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":1900,"wires":[["22acaa3843523426"]]},{"id":"c4e9ba9fe626c0b7","type":"switch","z":"9e74ffc274479be8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"OK","vt":"str"}],"checkall":"false","repair":true,"outputs":1,"x":790,"y":1900,"wires":[["4c16b081b71fdabc"]]},{"id":"efea3777b46b7894","type":"comment","z":"9e74ffc274479be8","name":"Add job plugin period","info":"Add job plugin period","x":120,"y":1860,"wires":[]},{"id":"9b758555dc22f945","type":"link out","z":"9e74ffc274479be8","name":"","mode":"link","links":["2cfd124a56e0eb86"],"x":715,"y":280,"wires":[]},{"id":"809a5378b5b8c0dd","type":"ui_form","z":"9e74ffc274479be8","name":"","label":"At","group":"392728cbb7e7e0e2","order":1,"width":0,"height":0,"options":[{"label":"Name","value":"sch_name","type":"text","required":true,"rows":null},{"label":"Dis / Ena","value":"sch_enabled","type":"switch","required":false,"rows":null},{"label":"Script","value":"sch_script_name","type":"text","required":true,"rows":null},{"label":"minute","value":"minute_at","type":"checkbox","required":false,"rows":null},{"label":"hour","value":"hour_at","type":"checkbox","required":false,"rows":null},{"label":"day","value":"day_at","type":"checkbox","required":false,"rows":null},{"label":"HH","value":"sch_hh","type":"text","required":false,"rows":null},{"label":"MM","value":"sch_mm","type":"text","required":false,"rows":null},{"label":"SS","value":"sch_ss","type":"text","required":false,"rows":null}],"formValue":{"sch_name":"","sch_enabled":false,"sch_script_name":"","minute_at":false,"hour_at":false,"day_at":false,"sch_hh":"","sch_mm":"","sch_ss":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":true,"className":"","x":90,"y":1640,"wires":[["c5d5304f97f90f9b"]]},{"id":"c5d5304f97f90f9b","type":"function","z":"9e74ffc274479be8","name":"Read API data","func":"var api_ip=flow.get('api_ip')\nvar api_id=flow.get('api_id')\nvar api_auth = flow.get('api_auth',msg.headers);\n\nmsg.api_ip=api_ip\nmsg.api_id=api_id\nmsg.headers=api_auth\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":1640,"wires":[["681e10b797b67532"]]},{"id":"681e10b797b67532","type":"function","z":"9e74ffc274479be8","name":"","func":"var sch_name=msg.payload.sch_name\nvar sch_script_name=msg.payload.sch_script_name\nvar sch_hh=msg.payload.sch_hh\nvar sch_mm=msg.payload.sch_mm\nvar sch_ss=msg.payload.sch_ss\nvar sch_enable=msg.payload.sch_enabled\n\nvar minute_at=msg.payload.minute_at\nvar hour_at=msg.payload.hour_at\nvar day_at=msg.payload.day_at\n\nvar name=sch_name\n\nif (sch_ss==\"\") {\n    sch_ss=\"00\"\n} \n\nif (sch_mm==\"\") {\n    sch_mm=\"00\"\n}  \n\nif (sch_hh==\"\"){\n    sch_hh=\"00\"\n} \n\nif (minute_at==true){\n    var schedule_name=\"minute.at\"\n    var schedule_parm=\":\"+sch_ss\n}else if (hour_at==true){\n    var schedule_name=\"hour.at\"\n    var schedule_parm=\":\"+sch_mm\n}else if (day_at==true){\n    var schedule_name=\"day.at\"\n    var schedule_parm=sch_hh+\":\"+sch_mm+\":\"+sch_ss\n} else {\n    var schedule_name=\"day.at\"\n    var schedule_parm=sch_hh+\":\"+sch_mm+\":\"+sch_ss\n}\n\n\n\n\nvar module_name=\"SCRIPT\"\nvar enabled=sch_enable\nvar script_name=sch_script_name\n\nif (enabled==true) {\n    enabled=\"1\"\n} else {\n    enabled=\"0\"\n}\n\nmsg.payload={\n    \"name\":name,\n    \"schedule_name\":schedule_name,\n    \"schedule_parm\":schedule_parm,\n    \"module_name\":module_name,\n    \"script_name\":script_name,\n    \"enabled\":enabled\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":1640,"wires":[["e45332c33371040f"]]},{"id":"e45332c33371040f","type":"http request","z":"9e74ffc274479be8","name":"Add job","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://{{{api_ip}}}:5080/api/{{{api_id}}}/scheduler/add/script","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":640,"y":1640,"wires":[["d6b3b469f17826d9"]]},{"id":"d6b3b469f17826d9","type":"switch","z":"9e74ffc274479be8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"OK","vt":"str"}],"checkall":"false","repair":true,"outputs":1,"x":790,"y":1640,"wires":[["4c16b081b71fdabc"]]},{"id":"481db5018c4d2f40","type":"ui_form","z":"9e74ffc274479be8","name":"","label":"At","group":"d721670bca69aa24","order":2,"width":0,"height":0,"options":[{"label":"Name","value":"sch_name","type":"text","required":true,"rows":null},{"label":"Dis / Ena","value":"sch_enabled","type":"switch","required":false,"rows":null},{"label":"Plugin","value":"sch_script_name","type":"text","required":true,"rows":null},{"label":"minute","value":"minute_at","type":"checkbox","required":false,"rows":null},{"label":"hour","value":"hour_at","type":"checkbox","required":false,"rows":null},{"label":"day","value":"day_at","type":"checkbox","required":false,"rows":null},{"label":"HH","value":"sch_hh","type":"text","required":false,"rows":null},{"label":"MM","value":"sch_mm","type":"text","required":false,"rows":null},{"label":"SS","value":"sch_ss","type":"text","required":false,"rows":null}],"formValue":{"sch_name":"","sch_enabled":false,"sch_script_name":"","minute_at":false,"hour_at":false,"day_at":false,"sch_hh":"","sch_mm":"","sch_ss":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":true,"className":"","x":90,"y":1800,"wires":[["b68056296eeb7cc8"]]},{"id":"073e804138a6222b","type":"function","z":"9e74ffc274479be8","name":"","func":"var sch_name=msg.payload.sch_name\nvar sch_script_name=msg.payload.sch_script_name\nvar sch_hh=msg.payload.sch_hh\nvar sch_mm=msg.payload.sch_mm\nvar sch_ss=msg.payload.sch_ss\nvar sch_enable=msg.payload.sch_enabled\n\nvar minute_at=msg.payload.minute_at\nvar hour_at=msg.payload.hour_at\nvar day_at=msg.payload.day_at\n\nvar name=sch_name\n\nif (sch_ss==\"\") {\n    sch_ss=\"00\"\n} \n\nif (sch_mm==\"\") {\n    sch_mm=\"00\"\n}  \n\nif (sch_hh==\"\"){\n    sch_hh=\"00\"\n} \n\nif (minute_at==true){\n    var schedule_name=\"minute.at\"\n    var schedule_parm=\":\"+sch_ss\n}else if (hour_at==true){\n    var schedule_name=\"hour.at\"\n    var schedule_parm=\":\"+sch_mm\n}else if (day_at==true){\n    var schedule_name=\"day.at\"\n    var schedule_parm=sch_hh+\":\"+sch_mm+\":\"+sch_ss\n} else {\n    var schedule_name=\"day.at\"\n    var schedule_parm=sch_hh+\":\"+sch_mm+\":\"+sch_ss\n}\n\n\n\n\nvar module_name=\"PLUGIN\"\nvar enabled=sch_enable\nvar script_name=sch_script_name\n\nif (enabled==true) {\n    enabled=\"1\"\n} else {\n    enabled=\"0\"\n}\n\nmsg.payload={\n    \"name\":name,\n    \"schedule_name\":schedule_name,\n    \"schedule_parm\":schedule_parm,\n    \"module_name\":module_name,\n    \"script_name\":script_name,\n    \"enabled\":enabled\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":1800,"wires":[["e7daa659ab33fe2a"]]},{"id":"0f640ec1c34d8fd9","type":"ui_form","z":"9e74ffc274479be8","name":"","label":"At","group":"62133e6a040b19d0","order":1,"width":0,"height":0,"options":[{"label":"Name","value":"sch_name","type":"text","required":true,"rows":null},{"label":"Dis / Ena","value":"sch_enabled","type":"switch","required":false,"rows":null},{"label":"Pin","value":"sch_pin","type":"number","required":true,"rows":null},{"label":"Stop / Start","value":"sch_pin_val","type":"switch","required":false,"rows":null},{"label":"minute","value":"minute_at","type":"checkbox","required":false,"rows":null},{"label":"hour","value":"hour_at","type":"checkbox","required":false,"rows":null},{"label":"day","value":"day_at","type":"checkbox","required":false,"rows":null},{"label":"HH","value":"sch_hh","type":"text","required":false,"rows":null},{"label":"MM","value":"sch_mm","type":"text","required":false,"rows":null},{"label":"SS","value":"sch_ss","type":"text","required":false,"rows":null}],"formValue":{"sch_name":"","sch_enabled":false,"sch_pin":"","sch_pin_val":false,"minute_at":false,"hour_at":false,"day_at":false,"sch_hh":"","sch_mm":"","sch_ss":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":true,"className":"","x":90,"y":1720,"wires":[["c6f8e26334177957"]]},{"id":"c2aa4cd67f22e294","type":"function","z":"9e74ffc274479be8","name":"","func":"var sch_name=msg.payload.sch_name\nvar sch_pin=msg.payload.sch_pin\nvar sch_pin_val=msg.payload.sch_pin_val\nvar sch_hh=msg.payload.sch_hh\nvar sch_mm=msg.payload.sch_mm\nvar sch_ss=msg.payload.sch_ss\nvar sch_enable=msg.payload.sch_enabled\n\nvar minute_at=msg.payload.minute_at\nvar hour_at=msg.payload.hour_at\nvar day_at=msg.payload.day_at\n\nvar name=sch_name\n\nif (sch_ss==\"\") {\n    sch_ss=\"00\"\n} \n\nif (sch_mm==\"\") {\n    sch_mm=\"00\"\n}  \n\nif (sch_hh==\"\"){\n    sch_hh=\"00\"\n} \n\nif (minute_at==true){\n    var schedule_name=\"minute.at\"\n    var schedule_parm=\":\"+sch_ss\n}else if (hour_at==true){\n    var schedule_name=\"hour.at\"\n    var schedule_parm=\":\"+sch_mm\n}else if (day_at==true){\n    var schedule_name=\"day.at\"\n    var schedule_parm=sch_hh+\":\"+sch_mm+\":\"+sch_ss\n} else {\n    var schedule_name=\"day.at\"\n    var schedule_parm=sch_hh+\":\"+sch_mm+\":\"+sch_ss\n}\n\nvar module_name=\"GPIO\"\nvar enabled=sch_enable\nvar pin=sch_pin.toString()\nvar pin_val=sch_pin_val\n\nif (pin_val ==true) {\n    pin_val=\"0\"\n} else {\n     pin_val=\"1\"\n}\n\nif (enabled==true) {\n    enabled=\"1\"\n} else {\n    enabled=\"0\"\n}\n\nmsg.payload={\n    \"name\":name,\n    \"schedule_name\":schedule_name,\n    \"schedule_parm\":schedule_parm,\n    \"module_name\":module_name,\n    \"pin\":pin,\n    \"pin_val\":pin_val,\n    \"enabled\":enabled\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":1720,"wires":[["8e20966d6d4d83c8"]]},{"id":"04a1ff19f9a6a0a0","type":"ui_form","z":"9e74ffc274479be8","name":"","label":"Period","group":"392728cbb7e7e0e2","order":4,"width":0,"height":0,"options":[{"label":"Name","value":"sch_name","type":"text","required":true,"rows":null},{"label":"Dis / Ena","value":"sch_enabled","type":"switch","required":false,"rows":null},{"label":"Script","value":"sch_script_name","type":"text","required":true,"rows":null},{"label":"Period","value":"sch_period","type":"number","required":false,"rows":null},{"label":"seconds","value":"p_seconds","type":"checkbox","required":false,"rows":null},{"label":"minutes","value":"p_minutes","type":"checkbox","required":false,"rows":null},{"label":"hours","value":"p_hours","type":"checkbox","required":false,"rows":null},{"label":"days","value":"p_days","type":"checkbox","required":false,"rows":null},{"label":"weeks","value":"p_weeks","type":"checkbox","required":false,"rows":null}],"formValue":{"sch_name":"","sch_enabled":false,"sch_script_name":"","sch_period":"","p_seconds":false,"p_minutes":false,"p_hours":false,"p_days":false,"p_weeks":false},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":true,"className":"","x":90,"y":2000,"wires":[["1c1e965eef31b86d"]]},{"id":"1c1e965eef31b86d","type":"function","z":"9e74ffc274479be8","name":"Read API data","func":"var api_ip=flow.get('api_ip')\nvar api_id=flow.get('api_id')\nvar api_auth = flow.get('api_auth',msg.headers);\n\nmsg.api_ip=api_ip\nmsg.api_id=api_id\nmsg.headers=api_auth\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":2000,"wires":[["c7f187073b1a44d3"]]},{"id":"025a7bd1ae652c4a","type":"http request","z":"9e74ffc274479be8","name":"Add job","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://{{{api_ip}}}:5080/api/{{{api_id}}}/scheduler/add/script","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":640,"y":2000,"wires":[["a009fd6eba9d5ccb"]]},{"id":"c7f187073b1a44d3","type":"function","z":"9e74ffc274479be8","name":"","func":"var sch_name=msg.payload.sch_name\nvar sch_script_name=msg.payload.sch_script_name\nvar sch_period=msg.payload.sch_period\nvar sch_enable=msg.payload.sch_enabled\n\nvar p_seconds=msg.payload.p_seconds\nvar p_minutes=msg.payload.p_minutes\nvar p_hours=msg.payload.p_hours\nvar p_days=msg.payload.p_days\nvar p_weeks=msg.payload.p_weeks\n\nvar name=sch_name\n\nif (p_seconds==true){\n    var schedule_name=\"seconds\"\n}\n\nif (p_minutes==true){\n    var schedule_name=\"minutes\"\n}\n\nif (p_hours==true){\n    var schedule_name=\"hours\"\n}\n\nif (p_days==true){\n    var schedule_name=\"days\"\n}\n\nif (p_weeks==true){\n    var schedule_name=\"weeks\"\n}\n\nvar schedule_parm=sch_period\nvar module_name=\"SCRIPT\"\nvar enabled=sch_enable\nvar script_name=sch_script_name\n\nif (enabled==true) {\n    enabled=\"1\"\n} else {\n    enabled=\"0\"\n}\n\nmsg.payload={\n    \"name\":name,\n    \"schedule_name\":schedule_name,\n    \"schedule_parm\":schedule_parm,\n    \"module_name\":module_name,\n    \"script_name\":script_name,\n    \"enabled\":enabled\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":2000,"wires":[["025a7bd1ae652c4a"]]},{"id":"a009fd6eba9d5ccb","type":"switch","z":"9e74ffc274479be8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"OK","vt":"str"}],"checkall":"false","repair":true,"outputs":1,"x":790,"y":2000,"wires":[["4c16b081b71fdabc"]]},{"id":"ddd930a8202cb31a","type":"comment","z":"9e74ffc274479be8","name":"Add job script period","info":"Add job script period","x":110,"y":1960,"wires":[]},{"id":"6198c1ce7f2d2f3a","type":"ui_form","z":"9e74ffc274479be8","name":"","label":"Period","group":"62133e6a040b19d0","order":4,"width":0,"height":0,"options":[{"label":"Name","value":"sch_name","type":"text","required":true,"rows":null},{"label":"Dis / Ena","value":"sch_enabled","type":"switch","required":false,"rows":null},{"label":"Pin","value":"sch_pin","type":"number","required":true,"rows":null},{"label":"Stop / Start","value":"sch_pin_val","type":"switch","required":false,"rows":null},{"label":"Period","value":"sch_period","type":"number","required":false,"rows":null},{"label":"seconds","value":"p_seconds","type":"checkbox","required":false,"rows":null},{"label":"minutes","value":"p_minutes","type":"checkbox","required":false,"rows":null},{"label":"hours","value":"p_hours","type":"checkbox","required":false,"rows":null},{"label":"days","value":"p_days","type":"checkbox","required":false,"rows":null},{"label":"weeks","value":"p_weeks","type":"checkbox","required":false,"rows":null}],"formValue":{"sch_name":"","sch_enabled":false,"sch_pin":"","sch_pin_val":false,"sch_period":"","p_seconds":false,"p_minutes":false,"p_hours":false,"p_days":false,"p_weeks":false},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":true,"className":"","x":90,"y":2100,"wires":[["34cfb91ef0ca3d30"]]},{"id":"34cfb91ef0ca3d30","type":"function","z":"9e74ffc274479be8","name":"Read API data","func":"var api_ip=flow.get('api_ip')\nvar api_id=flow.get('api_id')\nvar api_auth = flow.get('api_auth',msg.headers);\n\nmsg.api_ip=api_ip\nmsg.api_id=api_id\nmsg.headers=api_auth\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":2100,"wires":[["06b2a3f161c980c9"]]},{"id":"de3e826e0d5b6d05","type":"http request","z":"9e74ffc274479be8","name":"Add job","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://{{{api_ip}}}:5080/api/{{{api_id}}}/scheduler/add/gpio","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":640,"y":2100,"wires":[["f1e6b4f6939331f6"]]},{"id":"f1e6b4f6939331f6","type":"switch","z":"9e74ffc274479be8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"OK","vt":"str"}],"checkall":"false","repair":true,"outputs":1,"x":790,"y":2100,"wires":[["4c16b081b71fdabc"]]},{"id":"399f671128037e65","type":"comment","z":"9e74ffc274479be8","name":"Add job gpio period","info":"Add job script period","x":110,"y":2060,"wires":[]},{"id":"06b2a3f161c980c9","type":"function","z":"9e74ffc274479be8","name":"","func":"var sch_name=msg.payload.sch_name\nvar sch_pin=msg.payload.sch_pin\nvar sch_pin_val=msg.payload.sch_pin_val\nvar sch_enable=msg.payload.sch_enabled\nvar sch_period=msg.payload.sch_period\n\nvar p_seconds=msg.payload.p_seconds\nvar p_minutes=msg.payload.p_minutes\nvar p_hours=msg.payload.p_hours\nvar p_days=msg.payload.p_days\nvar p_weeks=msg.payload.p_weeks\n\nif (p_seconds==true){\n    var schedule_name=\"seconds\"\n}\n\nif (p_minutes==true){\n    var schedule_name=\"minutes\"\n}\n\nif (p_hours==true){\n    var schedule_name=\"hours\"\n}\n\nif (p_days==true){\n    var schedule_name=\"days\"\n}\n\nif (p_weeks==true){\n    var schedule_name=\"weeks\"\n}\n\nvar name=sch_name\n\nvar module_name=\"GPIO\"\nvar enabled=sch_enable\nvar pin=sch_pin.toString()\nvar pin_val=sch_pin_val\nvar schedule_parm=sch_period\n\nif (pin_val ==true) {\n    pin_val=\"0\"\n} else {\n     pin_val=\"1\"\n}\n\nif (enabled==true) {\n    enabled=\"1\"\n} else {\n    enabled=\"0\"\n}\n\nmsg.payload={\n    \"name\":name,\n    \"schedule_name\":schedule_name,\n    \"schedule_parm\":schedule_parm,\n    \"module_name\":module_name,\n    \"pin\":pin,\n    \"pin_val\":pin_val,\n    \"enabled\":enabled\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":2100,"wires":[["de3e826e0d5b6d05"]]},{"id":"f8d113b29b4785b0","type":"comment","z":"9e74ffc274479be8","name":"Change your api data ","info":"Change your api data in function \"Init API data\"","x":120,"y":20,"wires":[]},{"id":"26abdd9b1dc8bd78","type":"ui_spacer","z":"9e74ffc274479be8","name":"spacer","group":"f2296b43.d90e08","order":2,"width":8,"height":1},{"id":"84c59d1680c9f545","type":"ui_spacer","z":"9e74ffc274479be8","name":"spacer","group":"f2296b43.d90e08","order":3,"width":8,"height":1},{"id":"c4498058b1eae359","type":"ui_spacer","z":"9e74ffc274479be8","name":"spacer","group":"f2296b43.d90e08","order":4,"width":8,"height":1},{"id":"67178e3fc145d8b1","type":"ui_spacer","z":"9e74ffc274479be8","name":"spacer","group":"f2296b43.d90e08","order":5,"width":8,"height":1},{"id":"35e78bdd9f199238","type":"ui_group","name":"SmallCube","tab":"26f5c804.94e4b8","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"11b096db.33a5a1","type":"ui_group","name":"Action","tab":"275ee9b8.d36816","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"e38f771551b1b0e1","type":"ui_group","name":"Delete job","tab":"1b8f5977.371a27","order":5,"disp":true,"width":"6","collapse":true,"className":""},{"id":"31dabc2d.cc0f44","type":"ui_group","name":"Status","tab":"26f5c804.94e4b8","order":1,"disp":true,"width":"12","collapse":false,"className":""},{"id":"04320ce7b8d1bd92","type":"ui_group","name":"Pi","tab":"26f5c804.94e4b8","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"26b25476.b91984","type":"ui_group","name":"Configuration","tab":"e5b54af5.2247f8","order":3,"disp":true,"width":10,"collapse":false,"className":""},{"id":"f632c9be.2f0168","type":"ui_group","name":"Gpio","tab":"275ee9b8.d36816","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"f2296b43.d90e08","type":"ui_group","name":"Data","tab":"1b8f5977.371a27","order":1,"disp":true,"width":"12","collapse":true,"className":""},{"id":"febd9c2cedfb35b8","type":"ui_group","name":"Switch","tab":"26f5c804.94e4b8","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"e614f3f4765874d7","type":"ui_group","name":"Log","tab":"5ee54f8cb03793bc","order":2,"disp":true,"width":"13","collapse":false,"className":""},{"id":"a69b420674ee0d61","type":"ui_group","name":"Action","tab":"5ee54f8cb03793bc","order":1,"disp":true,"width":"4","collapse":false,"className":""},{"id":"bd7bdcdc.e587c8","type":"ui_group","name":"Action","tab":"e5b54af5.2247f8","order":1,"disp":true,"width":6,"collapse":false,"className":""},{"id":"d721670bca69aa24","type":"ui_group","name":"Add plugin job","tab":"1b8f5977.371a27","order":4,"disp":true,"width":"6","collapse":true,"className":""},{"id":"392728cbb7e7e0e2","type":"ui_group","name":"Add script job","tab":"1b8f5977.371a27","order":3,"disp":true,"width":"6","collapse":true,"className":""},{"id":"62133e6a040b19d0","type":"ui_group","name":"Add gpio job","tab":"1b8f5977.371a27","order":2,"disp":true,"width":"6","collapse":true,"className":""},{"id":"26f5c804.94e4b8","type":"ui_tab","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"275ee9b8.d36816","type":"ui_tab","name":"Gpio Conf","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"1b8f5977.371a27","type":"ui_tab","name":"Scheduler","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"e5b54af5.2247f8","type":"ui_tab","name":"Main Conf","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"5ee54f8cb03793bc","type":"ui_tab","name":"Logs","icon":"dashboard","order":5,"disabled":false,"hidden":false}]