node-red/sc_hc.json
[{"id":"ec429f445c573ae9","type":"subflow","name":"Read conf status (on / off)","info":"","category":"","in":[{"x":100,"y":140,"wires":[{"id":"0f1203d369ba699a"}]}],"out":[{"x":840,"y":140,"wires":[{"id":"702f306532e4c0a6","port":0},{"id":"25afc9c5c7b237c5","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"0f1203d369ba699a","type":"http request","z":"ec429f445c573ae9","name":"Read conf status","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://{{{api_ip}}}:5080/api/{{{api_id}}}/get/conf/status","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":270,"y":140,"wires":[["8446c9bd401742f9"]]},{"id":"8446c9bd401742f9","type":"switch","z":"ec429f445c573ae9","name":"","property":"payload.val","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":true,"outputs":2,"x":470,"y":140,"wires":[["702f306532e4c0a6"],["25afc9c5c7b237c5"]]},{"id":"702f306532e4c0a6","type":"change","z":"ec429f445c573ae9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":120,"wires":[[]]},{"id":"25afc9c5c7b237c5","type":"change","z":"ec429f445c573ae9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":160,"wires":[[]]},{"id":"d030392ecc3d3feb","type":"subflow","name":"Read conf status (True / False)","info":"","category":"","in":[{"x":40,"y":100,"wires":[{"id":"c24c7e9f5890a9b5"}]}],"out":[{"x":720,"y":100,"wires":[{"id":"29193ea8bed57b50","port":0},{"id":"7b658396f5a39e19","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"c24c7e9f5890a9b5","type":"http request","z":"d030392ecc3d3feb","name":"Read conf status","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://{{{api_ip}}}:5080/api/{{{api_id}}}/get/conf/status","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":190,"y":100,"wires":[["30f940e423e529ed"]]},{"id":"30f940e423e529ed","type":"switch","z":"d030392ecc3d3feb","name":"","property":"payload.val","propertyType":"msg","rules":[{"t":"eq","v":"True","vt":"str"},{"t":"eq","v":"False","vt":"str"}],"checkall":"true","repair":true,"outputs":2,"x":390,"y":100,"wires":[["29193ea8bed57b50"],["7b658396f5a39e19"]]},{"id":"29193ea8bed57b50","type":"change","z":"d030392ecc3d3feb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":80,"wires":[[]]},{"id":"7b658396f5a39e19","type":"change","z":"d030392ecc3d3feb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":120,"wires":[[]]},{"id":"16f9fe36952d6e59","type":"subflow","name":"Read gpio status","info":"","category":"","in":[{"x":60,"y":100,"wires":[{"id":"1e4943f5dccd8e3b"}]}],"out":[{"x":780,"y":100,"wires":[{"id":"cf75fa0103cbe073","port":0},{"id":"216d2607984670aa","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"1e4943f5dccd8e3b","type":"http request","z":"16f9fe36952d6e59","name":"Read gpio status","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://{{{api_ip}}}:5080/api/{{{api_id}}}/gpio/{{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":190,"y":100,"wires":[["b965593c51444f97"]]},{"id":"01f17c0a5b64c5e6","type":"switch","z":"16f9fe36952d6e59","name":"","property":"payload.pin_status","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":true,"outputs":2,"x":470,"y":100,"wires":[["cf75fa0103cbe073"],["216d2607984670aa"]]},{"id":"cf75fa0103cbe073","type":"change","z":"16f9fe36952d6e59","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":80,"wires":[[]]},{"id":"216d2607984670aa","type":"change","z":"16f9fe36952d6e59","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":120,"wires":[[]]},{"id":"b965593c51444f97","type":"json","z":"16f9fe36952d6e59","name":"","property":"payload","action":"obj","pretty":false,"x":350,"y":100,"wires":[["01f17c0a5b64c5e6"]]},{"id":"a77954b1.39cdc","type":"tab","label":"Small Cube with heat controller","disabled":true,"info":""},{"id":"4dda0a68.c06934","type":"ui_button","z":"a77954b1.39cdc","name":"","group":"35e78bdd9f199238","order":1,"width":0,"height":0,"passthru":true,"label":"refresh","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":160,"y":920,"wires":[["581368cd43cc59ba","11ce47c23078907c","f1271b427ff91603","e07cf020820bdb77","f525041234802fd3","5573169038488a8b"]]},{"id":"634a5235.f0458c","type":"comment","z":"a77954b1.39cdc","name":"Pin configuration","info":"Pin configuration","x":100,"y":1380,"wires":[]},{"id":"7d8fe28c.091e4c","type":"ui_form","z":"a77954b1.39cdc","name":"","label":"","group":"11b096db.33a5a1","order":2,"width":0,"height":0,"options":[{"label":"name","value":"gpio_name","type":"text","required":true,"rows":null},{"label":"pin","value":"gpio_number","type":"number","required":true,"rows":null},{"label":"enabled","value":"gpio_enable","type":"switch","required":true,"rows":null}],"formValue":{"gpio_name":"","gpio_number":"","gpio_enable":false},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":90,"y":1420,"wires":[["70ba9cd6.41ca4c"]]},{"id":"c4265325.769f78","type":"http request","z":"a77954b1.39cdc","name":"Ping API","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://{{{api_ip}}}:5080/api/{{{api_id}}}/ping","tls":"","persist":false,"proxy":"","authType":"","x":480,"y":320,"wires":[["9d09a8e2.e0de08"]]},{"id":"9d09a8e2.e0de08","type":"switch","z":"a77954b1.39cdc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"PONG","vt":"str"},{"t":"else"}],"checkall":"false","repair":true,"outputs":2,"x":610,"y":320,"wires":[["1e65900194c93b03","231d1fa1e9a440c7"],["83758aad73c39bf8"]]},{"id":"d84a0d50.62d1c","type":"switch","z":"a77954b1.39cdc","name":"","property":"payload.gpio_enable","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":1420,"wires":[["82d5d581.b0e5a8","adc34783.f52618"],["adc34783.f52618","17081a62.9710fe"]]},{"id":"70ba9cd6.41ca4c","type":"function","z":"a77954b1.39cdc","name":"Read API data","func":"var api_ip=flow.get('api_ip')\nvar api_id=flow.get('api_id')\nvar api_auth = flow.get('api_auth',msg.headers);\n\nmsg.api_ip=api_ip\nmsg.api_id=api_id\nmsg.headers=api_auth\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":1420,"wires":[["d84a0d50.62d1c"]]},{"id":"82d5d581.b0e5a8","type":"http request","z":"a77954b1.39cdc","name":"Enable gpio","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://{{{api_ip}}}:5080/api/{{{api_id}}}/gpio/enable/{{{payload.gpio_number}}}","tls":"","persist":false,"proxy":"","authType":"","x":570,"y":1360,"wires":[[]]},{"id":"d9290357.03afb8","type":"http request","z":"a77954b1.39cdc","name":"Disable gpio","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://{{{api_ip}}}:5080/api/{{{api_id}}}/gpio/disable/{{{payload.gpio_number}}}","tls":"","persist":false,"proxy":"","authType":"","x":710,"y":1480,"wires":[[]]},{"id":"adc34783.f52618","type":"function","z":"a77954b1.39cdc","name":"","func":"var pin = msg.payload.gpio_number\nmsg.payload={\n    \"pin\": pin,\n    \"setup\": \"GPIO.OUT\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":1420,"wires":[["7671197c.2031e"]]},{"id":"c5858e85.77bfc","type":"http request","z":"a77954b1.39cdc","name":"Set status","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://{{{api_ip}}}:5080/api/{{{api_id}}}/gpio/setup","tls":"","persist":false,"proxy":"","authType":"","x":840,"y":1420,"wires":[["41564799.fd1e58"]]},{"id":"7671197c.2031e","type":"delay","z":"a77954b1.39cdc","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":700,"y":1420,"wires":[["c5858e85.77bfc"]]},{"id":"41564799.fd1e58","type":"switch","z":"a77954b1.39cdc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"OK","vt":"str"}],"checkall":"false","repair":true,"outputs":1,"x":970,"y":1420,"wires":[["c71ab539ac1df050"]]},{"id":"17081a62.9710fe","type":"delay","z":"a77954b1.39cdc","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":560,"y":1480,"wires":[["d9290357.03afb8"]]},{"id":"62cd7453.9c2f1c","type":"function","z":"a77954b1.39cdc","name":"Read API data","func":"var api_ip=flow.get('api_ip')\nvar api_id=flow.get('api_id')\nvar api_auth = flow.get('api_auth',msg.headers);\n\nmsg.api_ip=api_ip\nmsg.api_id=api_id\nmsg.headers=api_auth\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":320,"wires":[["c4265325.769f78"]]},{"id":"3743214969a678f6","type":"comment","z":"a77954b1.39cdc","name":"Change gpio low/high on pin 11","info":"Change gpio low/high","x":150,"y":2900,"wires":[]},{"id":"a96a192d49de4b65","type":"function","z":"a77954b1.39cdc","name":"Read API data","func":"var api_ip=flow.get('api_ip')\nvar api_id=flow.get('api_id')\nvar api_auth = flow.get('api_auth',msg.headers);\n\nmsg.api_ip=api_ip\nmsg.api_id=api_id\nmsg.headers=api_auth\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":1720,"wires":[["6897b392d84f2496"]]},{"id":"27481c060aa0077c","type":"http request","z":"a77954b1.39cdc","name":"Add job","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://{{{api_ip}}}:5080/api/{{{api_id}}}/scheduler/add/gpio","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":640,"y":1720,"wires":[["a1d3ffcccf95de86"]]},{"id":"45607656e2d570f2","type":"comment","z":"a77954b1.39cdc","name":"Add gpio job at","info":"Add gpio job at","x":100,"y":1680,"wires":[]},{"id":"d385aae176633379","type":"function","z":"a77954b1.39cdc","name":"Read API data","func":"var api_ip=flow.get('api_ip')\nvar api_id=flow.get('api_id')\nvar api_auth = flow.get('api_auth',msg.headers);\n\nmsg.api_ip=api_ip\nmsg.api_id=api_id\nmsg.headers=api_auth\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":1560,"wires":[["976c017c3419cd4d"]]},{"id":"976c017c3419cd4d","type":"http request","z":"a77954b1.39cdc","name":"Add job","method":"DELETE","ret":"txt","paytoqs":"ignore","url":"http://{{{api_ip}}}:5080/api/{{{api_id}}}/scheduler/delete/{{{payload.job_id}}}","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":500,"y":1560,"wires":[["f0acc9680af7ca5d"]]},{"id":"5f3900ea753597a0","type":"ui_form","z":"a77954b1.39cdc","name":"","label":"","group":"e38f771551b1b0e1","order":1,"width":0,"height":0,"options":[{"label":"Job id","value":"job_id","type":"number","required":true,"rows":null}],"formValue":{"job_id":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":90,"y":1560,"wires":[["d385aae176633379"]]},{"id":"a1d3ffcccf95de86","type":"switch","z":"a77954b1.39cdc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"OK","vt":"str"}],"checkall":"false","repair":true,"outputs":1,"x":790,"y":1720,"wires":[["38bf3772d7c430fb"]]},{"id":"f0acc9680af7ca5d","type":"switch","z":"a77954b1.39cdc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"OK","vt":"str"}],"checkall":"false","repair":true,"outputs":1,"x":790,"y":1560,"wires":[["38bf3772d7c430fb"]]},{"id":"32b7c2985e24d8c7","type":"comment","z":"a77954b1.39cdc","name":"Delete job","info":"Delete job","x":80,"y":1520,"wires":[]},{"id":"c094ed5ea60e7b08","type":"comment","z":"a77954b1.39cdc","name":"Interval API check and refresh data views","info":"Interval API check and refresh data views","x":180,"y":280,"wires":[]},{"id":"9a292851a65a35bf","type":"ui_text","z":"a77954b1.39cdc","group":"31dabc2d.cc0f44","order":1,"width":0,"height":0,"name":"","label":"API status","format":"{{msg.payload}}","layout":"row-spread","className":"","x":990,"y":320,"wires":[]},{"id":"1e65900194c93b03","type":"change","z":"a77954b1.39cdc","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"PONG","fromt":"str","to":"up","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":320,"wires":[["9a292851a65a35bf"]]},{"id":"6d52555d.0c339c","type":"inject","z":"a77954b1.39cdc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":320,"wires":[["62cd7453.9c2f1c"]]},{"id":"739ce59054a546ac","type":"function","z":"a77954b1.39cdc","name":"Init API data","func":"// Change your API data here.\nflow.set('api_ip','192.168.0.103');\nflow.set('api_id','7e89feb6-1221-4230-acaf-50473f69efb1');\nflow.set('api_user','j3QtNTQu28');\nflow.set('api_pin','8919');\n\n// Do not change the lines below \n// unless you know what you are doing.\nvar api_ip=flow.get('api_ip')\nvar api_id=flow.get('api_id')\nvar api_user=flow.get('api_user')\nvar api_pin=flow.get('api_pin')\n\nmsg.api_ip=api_ip\nmsg.api_id=api_id\nmsg.api_user=api_user\nmsg.api_pin=api_pin\n\nmsg.headers =\n{\n    \"username\": api_user,\n    \"password\": api_pin\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":130,"y":60,"wires":[["bdaf5a139a439f1e"]],"info":"Insert your API data in this node"},{"id":"bdaf5a139a439f1e","type":"change","z":"a77954b1.39cdc","name":"Auth. Basic","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\t    \"Authorization\": 'Basic ' & $base64encode(msg.api_user & ':' & msg.api_pin)\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":220,"wires":[["b4879800431cd0b1"]]},{"id":"b4879800431cd0b1","type":"function","z":"a77954b1.39cdc","name":"Set API auth","func":"flow.set('api_auth',msg.headers);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":220,"wires":[["62cd7453.9c2f1c","f869b95b92e94b19"]]},{"id":"cb45bda76a95c1f1","type":"inject","z":"a77954b1.39cdc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":130,"y":220,"wires":[["739ce59054a546ac"]]},{"id":"4b594e6bf2884df8","type":"comment","z":"a77954b1.39cdc","name":"Load API configuration","info":"Load API configuration","x":120,"y":180,"wires":[]},{"id":"2261fa171ea623f9","type":"comment","z":"a77954b1.39cdc","name":"Load all configuration","info":"Load all configuration","x":140,"y":880,"wires":[]},{"id":"92786e3b7579dde5","type":"ui_button","z":"a77954b1.39cdc","name":"","group":"04320ce7b8d1bd92","order":2,"width":0,"height":0,"passthru":false,"label":"reboot","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":90,"y":700,"wires":[["1cee669d40632c05"]]},{"id":"1cee669d40632c05","type":"function","z":"a77954b1.39cdc","name":"Read API data","func":"var api_ip=flow.get('api_ip')\nvar api_id=flow.get('api_id')\nvar api_auth = flow.get('api_auth',msg.headers);\n\nmsg.api_ip=api_ip\nmsg.api_id=api_id\nmsg.headers=api_auth\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":700,"wires":[["40118bbff95c1180"]]},{"id":"821698c97bd5e028","type":"http request","z":"a77954b1.39cdc","name":"Pi reboot","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://{{{api_ip}}}:5080/api/{{{api_id}}}/daemon","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":600,"y":700,"wires":[["0f4c39068c9251f4"]]},{"id":"40118bbff95c1180","type":"function","z":"a77954b1.39cdc","name":"","func":"var cmd=\"PIREBOOT\"\nvar module_name=\"PIDEAMON\"\nmsg.payload={\n    \"cmd\":cmd,\n    \"module_name\":module_name\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":700,"wires":[["821698c97bd5e028"]]},{"id":"62de5da5449093ba","type":"ui_button","z":"a77954b1.39cdc","name":"","group":"35e78bdd9f199238","order":2,"width":0,"height":0,"passthru":false,"label":"restart","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":90,"y":460,"wires":[["6c69d946e5416b52"]]},{"id":"6c69d946e5416b52","type":"function","z":"a77954b1.39cdc","name":"Read API data","func":"var api_ip=flow.get('api_ip')\nvar api_id=flow.get('api_id')\nvar api_auth = flow.get('api_auth',msg.headers);\n\nmsg.api_ip=api_ip\nmsg.api_id=api_id\nmsg.headers=api_auth\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":460,"wires":[["1c289765a1da4998"]]},{"id":"eba4acfd3e6b89a8","type":"http request","z":"a77954b1.39cdc","name":"restart Small Cube ","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://{{{api_ip}}}:5080/api/{{{api_id}}}/daemon","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":630,"y":460,"wires":[["45d5ea8dc6171d06"]]},{"id":"1c289765a1da4998","type":"function","z":"a77954b1.39cdc","name":"","func":"var cmd=\"RESTART\"\nvar module_name=\"PIDEAMON\"\nmsg.payload={\n    \"cmd\":cmd,\n    \"module_name\":module_name\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":460,"wires":[["eba4acfd3e6b89a8"]]},{"id":"f5be4ec2c657b1ad","type":"switch","z":"a77954b1.39cdc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"OK","vt":"str"}],"checkall":"false","repair":true,"outputs":1,"x":970,"y":460,"wires":[["a5ac356ece4ff457"]]},{"id":"a5ac356ece4ff457","type":"function","z":"a77954b1.39cdc","name":"Read API data","func":"var api_ip=flow.get('api_ip')\nvar api_id=flow.get('api_id')\nvar api_auth = flow.get('api_auth',msg.headers);\n\nmsg.api_ip=api_ip\nmsg.api_id=api_id\nmsg.headers=api_auth\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":520,"wires":[["89416f56c3969fc0"]]},{"id":"346627335d01958a","type":"http request","z":"a77954b1.39cdc","name":"restart API","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://{{{api_ip}}}:5080/api/{{{api_id}}}/daemon","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":610,"y":520,"wires":[["aefe6cace0c3cca0"]]},{"id":"89416f56c3969fc0","type":"function","z":"a77954b1.39cdc","name":"","func":"var cmd=\"RESTART_FLASK\"\nvar module_name=\"PIDEAMON\"\nmsg.payload={\n    \"cmd\":cmd,\n    \"module_name\":module_name\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":520,"wires":[["346627335d01958a"]]},{"id":"dc188c63044ba089","type":"comment","z":"a77954b1.39cdc","name":"Reboot Pi","info":"Reboot Pi","x":80,"y":660,"wires":[]},{"id":"c05f18bbc6153722","type":"comment","z":"a77954b1.39cdc","name":"Restart SmallCube and API service","info":"Restart SmallCube and API service","x":160,"y":420,"wires":[]},{"id":"5e0de636a310b5ac","type":"comment","z":"a77954b1.39cdc","name":"Add job script at","info":"Add job script at","x":100,"y":1600,"wires":[]},{"id":"581368cd43cc59ba","type":"function","z":"a77954b1.39cdc","name":"Read API data","func":"var api_ip=flow.get('api_ip')\nvar api_id=flow.get('api_id')\nvar api_auth = flow.get('api_auth',msg.headers);\n\nmsg.api_ip=api_ip\nmsg.api_id=api_id\nmsg.headers=api_auth\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":960,"wires":[["373ad7155e7ea766"]]},{"id":"373ad7155e7ea766","type":"http request","z":"a77954b1.39cdc","name":"Get configruation","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://{{{api_ip}}}:5080/api/{{{api_id}}}/get/conf","tls":"","persist":false,"proxy":"","authType":"","x":570,"y":960,"wires":[["9761e4e65540932d"]]},{"id":"7959331a026cc47c","type":"http request","z":"a77954b1.39cdc","name":"Get gpio","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://{{{api_ip}}}:5080/api/{{{api_id}}}/gpio","tls":"","persist":false,"proxy":"","authType":"","x":540,"y":1000,"wires":[["e261fa7e45195d25"]]},{"id":"0390d459bd38a4da","type":"http request","z":"a77954b1.39cdc","name":"Get scheduler","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://{{{api_ip}}}:5080/api/{{{api_id}}}/scheduler","tls":"","persist":false,"proxy":"","authType":"","x":560,"y":1040,"wires":[["34315f50fa854130"]]},{"id":"9761e4e65540932d","type":"ui_template","z":"a77954b1.39cdc","group":"26b25476.b91984","name":"","order":1,"width":10,"height":6,"format":"<div ng-bind-html=\"msg.payload\">{{msg.payload}}</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":760,"y":960,"wires":[[]]},{"id":"e261fa7e45195d25","type":"ui_template","z":"a77954b1.39cdc","group":"f632c9be.2f0168","name":"","order":0,"width":"6","height":"6","format":"<div ng-bind-html=\"msg.payload\">{{msg.payload}}</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":760,"y":1000,"wires":[[]]},{"id":"4f5693b7a64ef41c","type":"ui_template","z":"a77954b1.39cdc","group":"f2296b43.d90e08","name":"","order":1,"width":"12","height":"4","format":"<h2>Job list</h2>\n<table>\n    <tr>\n        <th>id job</th>\n        <th>name</th>\n        <th>module</th>\n        <th>time</th>\n        <th>pin/script</th>\n        <th>enabled</th>\n    </tr>\n    <tr ng-repeat=\"(key, value) in msg.payload\">\n        <td>{{value.id}}</td>\n        <td>{{value.name}}</td>\n        <td>{{value.sch_name}}</td>\n        <td>{{value.sch_parm}}</td>\n        <td>{{value.parm}} {{value.pin_val}}</td>\n        <td>{{value.enabled}}</td>\n    </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":880,"y":1040,"wires":[[]]},{"id":"7c832c3ee2cf018e","type":"http request","z":"a77954b1.39cdc","name":"Get Pi info","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://{{{api_ip}}}:5080/api/{{{api_id}}}/system/piinfo","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":550,"y":1080,"wires":[["66819f36a6f93a63"]]},{"id":"76062f67f68602f0","type":"ui_template","z":"a77954b1.39cdc","group":"31dabc2d.cc0f44","name":"","order":2,"width":"12","height":"6","format":"<table>\n    <tr ng-repeat=\"(key, value) in msg.payload\">\n        <td valign=\"top\">{{key}}</td>\n        <td>{{value}}</td>\n    </tr>\n</table>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":880,"y":1080,"wires":[[]]},{"id":"38bf3772d7c430fb","type":"link out","z":"a77954b1.39cdc","name":"","mode":"link","links":["24cb9a022d213daa","2ae0e8b246efa44a","391acc6b0a65f81f"],"x":1005,"y":1720,"wires":[]},{"id":"f869b95b92e94b19","type":"delay","z":"a77954b1.39cdc","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":860,"y":220,"wires":[["4999890d3a718d21"]]},{"id":"29eb1c4a1ed5f4bb","type":"function","z":"a77954b1.39cdc","name":"Read API data","func":"var api_ip=flow.get('api_ip')\nvar api_id=flow.get('api_id')\nvar api_auth = flow.get('api_auth',msg.headers);\n\nmsg.api_ip=api_ip\nmsg.api_id=api_id\nmsg.headers=api_auth\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":3000,"wires":[["390244e29c5ba1fc"]]},{"id":"02cf8f74b90befa2","type":"ui_switch","z":"a77954b1.39cdc","name":"","label":"pin 11","tooltip":"","group":"febd9c2cedfb35b8","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":530,"y":3000,"wires":[["f65bd6a7633b7591"]]},{"id":"916cc6a7e170bc41","type":"function","z":"a77954b1.39cdc","name":"set pin number","func":"// change pin numbe\nvar pin='11'\n\nflow.set('pin',pin);\nmsg.payload=pin\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":180,"y":2940,"wires":[["29eb1c4a1ed5f4bb"]]},{"id":"f65bd6a7633b7591","type":"function","z":"a77954b1.39cdc","name":"Read API data","func":"var api_ip=flow.get('api_ip')\nvar api_id=flow.get('api_id')\nvar api_auth = flow.get('api_auth',msg.headers);\n\nmsg.api_ip=api_ip\nmsg.api_id=api_id\nmsg.headers=api_auth\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":2940,"wires":[["f41a34fe85ab6d72"]]},{"id":"f41a34fe85ab6d72","type":"function","z":"a77954b1.39cdc","name":"","func":"var pin=flow.get('pin');\n\nif(msg.payload==true){\n    msg.payload={\"pin\":pin,\"output\":0}\n} else {\n    msg.payload={\"pin\":pin,\"output\":1}\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":3000,"wires":[["d37293c936054779"]]},{"id":"d37293c936054779","type":"http request","z":"a77954b1.39cdc","name":"Change gpio low/high","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://{{{api_ip}}}:5080/api/{{{api_id}}}/gpio/output","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":920,"y":2940,"wires":[["f0bfab96cb4764ae"]]},{"id":"95162050d670f05a","type":"ping","z":"a77954b1.39cdc","protocol":"IPv4","mode":"triggered","name":"","host":"","timer":"20","inputs":1,"x":950,"y":360,"wires":[[]]},{"id":"83758aad73c39bf8","type":"function","z":"a77954b1.39cdc","name":"Read API data","func":"var api_ip=flow.get('api_ip')\nmsg.payload=api_ip\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":360,"wires":[["95162050d670f05a"]]},{"id":"45d5ea8dc6171d06","type":"delay","z":"a77954b1.39cdc","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":820,"y":460,"wires":[["f5be4ec2c657b1ad"]]},{"id":"0f4c39068c9251f4","type":"switch","z":"a77954b1.39cdc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"OK","vt":"str"}],"checkall":"false","repair":true,"outputs":1,"x":750,"y":700,"wires":[["86d6eced1cb819f9"]]},{"id":"86d6eced1cb819f9","type":"delay","z":"a77954b1.39cdc","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":900,"y":700,"wires":[["316cb45093502ccf"]]},{"id":"316cb45093502ccf","type":"link out","z":"a77954b1.39cdc","name":"","mode":"link","links":["24cb9a022d213daa","bebf6c4cae0a9725"],"x":1005,"y":700,"wires":[]},{"id":"1c29c0487ea026cb","type":"switch","z":"a77954b1.39cdc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"OK","vt":"str"}],"checkall":"false","repair":true,"outputs":1,"x":930,"y":520,"wires":[["c69ac9057609188a"]]},{"id":"c69ac9057609188a","type":"link out","z":"a77954b1.39cdc","name":"","mode":"link","links":["24cb9a022d213daa","bebf6c4cae0a9725"],"x":1035,"y":520,"wires":[]},{"id":"aefe6cace0c3cca0","type":"delay","z":"a77954b1.39cdc","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":780,"y":520,"wires":[["1c29c0487ea026cb"]]},{"id":"390244e29c5ba1fc","type":"subflow:16f9fe36952d6e59","z":"a77954b1.39cdc","name":"","x":410,"y":2940,"wires":[["02cf8f74b90befa2"]]},{"id":"4999890d3a718d21","type":"link out","z":"a77954b1.39cdc","name":"","mode":"link","links":["2e1501d80ddcaee0","091564f5c2679de8","cf2d2708fade1c6f","0579eabbed48f619","bebf6c4cae0a9725","938e720c9dd3b5a2","8b25ab7f606b0414"],"x":965,"y":220,"wires":[]},{"id":"2e1501d80ddcaee0","type":"link in","z":"a77954b1.39cdc","name":"","links":["4999890d3a718d21"],"x":45,"y":2940,"wires":[["916cc6a7e170bc41"]]},{"id":"66819f36a6f93a63","type":"json","z":"a77954b1.39cdc","name":"","property":"payload","action":"obj","pretty":false,"x":750,"y":1080,"wires":[["76062f67f68602f0"]]},{"id":"34315f50fa854130","type":"json","z":"a77954b1.39cdc","name":"","property":"payload","action":"obj","pretty":false,"x":750,"y":1040,"wires":[["4f5693b7a64ef41c"]]},{"id":"cd1dff4e59dda937","type":"function","z":"a77954b1.39cdc","name":"Read API data","func":"var api_ip=flow.get('api_ip')\nvar api_id=flow.get('api_id')\nvar api_auth = flow.get('api_auth',msg.headers);\n\nmsg.api_ip=api_ip\nmsg.api_id=api_id\nmsg.headers=api_auth\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":3120,"wires":[["e7723a08b91b4dac"]]},{"id":"e7723a08b91b4dac","type":"http request","z":"a77954b1.39cdc","name":"Get smallcube log","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://{{{api_ip}}}:5080/api/{{{api_id}}}/log/show/smallcube.py.log","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":550,"y":3120,"wires":[["18c15898093db486"]]},{"id":"07ddbe5d9954e275","type":"function","z":"a77954b1.39cdc","name":"Read API data","func":"var api_ip=flow.get('api_ip')\nvar api_id=flow.get('api_id')\nvar api_auth = flow.get('api_auth',msg.headers);\n\nmsg.api_ip=api_ip\nmsg.api_id=api_id\nmsg.headers=api_auth\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":3200,"wires":[["853937e2e614e2d4"]]},{"id":"853937e2e614e2d4","type":"http request","z":"a77954b1.39cdc","name":"Get api smallcube log","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://{{{api_ip}}}:5080/api/{{{api_id}}}/log/show/api_smallcube.py.log","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":560,"y":3200,"wires":[["18c15898093db486"]]},{"id":"d8e95b9f00199d75","type":"comment","z":"a77954b1.39cdc","name":"Get smallcube log","info":"Get smallcube log","x":110,"y":3080,"wires":[]},{"id":"196565b36f6ee681","type":"comment","z":"a77954b1.39cdc","name":"Get api smallcube log","info":"Get api smallcube log","x":120,"y":3160,"wires":[]},{"id":"18c15898093db486","type":"json","z":"a77954b1.39cdc","name":"","property":"payload","action":"obj","pretty":false,"x":770,"y":3160,"wires":[["3c7e5b13bea6d2bc"]]},{"id":"3c7e5b13bea6d2bc","type":"ui_template","z":"a77954b1.39cdc","group":"e614f3f4765874d7","name":"","order":3,"width":"13","height":"12","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":940,"y":3160,"wires":[[]]},{"id":"13aff84de7d62e5d","type":"ui_button","z":"a77954b1.39cdc","name":"","group":"a69b420674ee0d61","order":2,"width":0,"height":0,"passthru":false,"label":"show log","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":100,"y":3120,"wires":[["cd1dff4e59dda937"]]},{"id":"c346a79b9b018b6d","type":"ui_button","z":"a77954b1.39cdc","name":"","group":"a69b420674ee0d61","order":1,"width":0,"height":0,"passthru":false,"label":"show api log","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":110,"y":3200,"wires":[["07ddbe5d9954e275"]]},{"id":"df13df6ff6e555a2","type":"ui_button","z":"a77954b1.39cdc","name":"","group":"04320ce7b8d1bd92","order":1,"width":0,"height":0,"passthru":false,"label":"upgrade","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":100,"y":780,"wires":[["c1836a26e18131c4"]]},{"id":"c1836a26e18131c4","type":"function","z":"a77954b1.39cdc","name":"Read API data","func":"var api_ip=flow.get('api_ip')\nvar api_id=flow.get('api_id')\nvar api_auth = flow.get('api_auth',msg.headers);\n\nmsg.api_ip=api_ip\nmsg.api_id=api_id\nmsg.headers=api_auth\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":780,"wires":[["f7d3bae3b8fd7cfd"]]},{"id":"b4b19f6384531f4c","type":"http request","z":"a77954b1.39cdc","name":"Pi upgrade","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://{{{api_ip}}}:5080/api/{{{api_id}}}/daemon","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":610,"y":780,"wires":[["bc2a950a48f644bc"]]},{"id":"f7d3bae3b8fd7cfd","type":"function","z":"a77954b1.39cdc","name":"","func":"var cmd=\"PIUPGRADE\"\nvar module_name=\"PIDEAMON\"\nmsg.payload={\n    \"cmd\":cmd,\n    \"module_name\":module_name\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":780,"wires":[["b4b19f6384531f4c"]]},{"id":"bc2a950a48f644bc","type":"switch","z":"a77954b1.39cdc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"OK","vt":"str"}],"checkall":"false","repair":true,"outputs":1,"x":750,"y":780,"wires":[["24e856550fc108f6"]]},{"id":"24e856550fc108f6","type":"delay","z":"a77954b1.39cdc","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":900,"y":780,"wires":[["7f0d912578286028"]]},{"id":"7f0d912578286028","type":"link out","z":"a77954b1.39cdc","name":"","mode":"link","links":["24cb9a022d213daa","bebf6c4cae0a9725"],"x":1005,"y":780,"wires":[]},{"id":"9789a42826dafd75","type":"comment","z":"a77954b1.39cdc","name":"Upgrade Pi","info":"Upgrade Pi","x":80,"y":740,"wires":[]},{"id":"3423cf0ca58e85d2","type":"http request","z":"a77954b1.39cdc","name":"Get script list","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://{{{api_ip}}}:5080/api/{{{api_id}}}/scripts","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":550,"y":1120,"wires":[["84eb53050fa30476"]]},{"id":"0ad181f98f4ed325","type":"http request","z":"a77954b1.39cdc","name":"Get plugin data","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://{{{api_ip}}}:5080/api/{{{api_id}}}/plugins","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":560,"y":1160,"wires":[["03d9dc9217bf111e"]]},{"id":"84eb53050fa30476","type":"json","z":"a77954b1.39cdc","name":"","property":"payload","action":"obj","pretty":false,"x":750,"y":1120,"wires":[["8d70b072a2d097b8"]]},{"id":"8d70b072a2d097b8","type":"ui_template","z":"a77954b1.39cdc","group":"f2296b43.d90e08","name":"template","order":6,"width":0,"height":0,"format":"<h2>Available scripts</h2>\n<table>\n    <tr ng-repeat=\"(key, value) in msg.payload\">\n        <td>{{value}}</td>\n    </tr>\n</table>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":880,"y":1120,"wires":[[]]},{"id":"20d9c0b75f31e87e","type":"ui_button","z":"a77954b1.39cdc","d":true,"name":"","group":"35e78bdd9f199238","order":2,"width":0,"height":0,"passthru":false,"label":"reset conf","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":100,"y":600,"wires":[["477a71c275400522"]]},{"id":"477a71c275400522","type":"function","z":"a77954b1.39cdc","name":"Read API data","func":"var api_ip=flow.get('api_ip')\nvar api_id=flow.get('api_id')\nvar api_auth = flow.get('api_auth',msg.headers);\n\nmsg.api_ip=api_ip\nmsg.api_id=api_id\nmsg.headers=api_auth\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":600,"wires":[["4c82114271f2c0ce"]]},{"id":"7b04e9c592477bb6","type":"http request","z":"a77954b1.39cdc","name":"reset conf","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://{{{api_ip}}}:5080/api/{{{api_id}}}/daemon","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":740,"y":600,"wires":[[]]},{"id":"4c82114271f2c0ce","type":"function","z":"a77954b1.39cdc","name":"","func":"var cmd=\"RESTART\"\nvar module_name=\"PIDEAMON\"\nmsg.payload={\n    \"cmd\":cmd,\n    \"module_name\":module_name\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":600,"wires":[["7b04e9c592477bb6"]]},{"id":"35ca596f37efa17c","type":"function","z":"a77954b1.39cdc","name":"Read API data","func":"var api_ip=flow.get('api_ip')\nvar api_id=flow.get('api_id')\nvar api_auth = flow.get('api_auth',msg.headers);\n\nmsg.api_ip=api_ip\nmsg.api_id=api_id\nmsg.headers=api_auth\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":2400,"wires":[["bbbe54fafc943565"]]},{"id":"8947835816fc7036","type":"function","z":"a77954b1.39cdc","name":"","func":"var mod=\"SCRIPT\"\nvar parm=\"status\"\n\nmsg.payload={\n    \"mod\":mod,\n    \"parm\":parm\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":220,"y":2460,"wires":[["35ca596f37efa17c"]]},{"id":"5e23b8470cadeaa0","type":"http request","z":"a77954b1.39cdc","name":"Enable script module","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://{{{api_ip}}}:5080/api/{{{api_id}}}/set/conf","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":960,"y":2460,"wires":[["1a051449adf78dda"]]},{"id":"a77fa1362087a162","type":"function","z":"a77954b1.39cdc","name":"Read API data","func":"var api_ip=flow.get('api_ip')\nvar api_id=flow.get('api_id')\nvar api_auth = flow.get('api_auth',msg.headers);\n\nmsg.api_ip=api_ip\nmsg.api_id=api_id\nmsg.headers=api_auth\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":2460,"wires":[["aad232173a8d2b02"]]},{"id":"00b01bc3bea05fc7","type":"ui_switch","z":"a77954b1.39cdc","name":"","label":"Enable script module","tooltip":"","group":"bd7bdcdc.e587c8","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"payload","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":580,"y":2400,"wires":[["a77fa1362087a162"]]},{"id":"1a051449adf78dda","type":"switch","z":"a77954b1.39cdc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"OK","vt":"str"}],"checkall":"false","repair":true,"outputs":1,"x":1030,"y":2400,"wires":[["e6096fb901965842","14ace8762590c22e"]]},{"id":"aad232173a8d2b02","type":"function","z":"a77954b1.39cdc","name":"","func":"if(msg.payload==true){\n    msg.payload={\n    \"module_name\": \"SCRIPT\",\n    \"name\": \"status\",\n    \"val\": \"on\"\n}\n} else {\n    msg.payload={\n    \"module_name\": \"SCRIPT\",\n    \"name\": \"status\",\n    \"val\": \"off\"\n}\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":2400,"wires":[["5e23b8470cadeaa0"]]},{"id":"091564f5c2679de8","type":"link in","z":"a77954b1.39cdc","name":"","links":["4999890d3a718d21"],"x":45,"y":2460,"wires":[["8947835816fc7036"]]},{"id":"4ec035ad42419e36","type":"link in","z":"a77954b1.39cdc","name":"","links":["e6096fb901965842"],"x":45,"y":2400,"wires":[["8947835816fc7036"]]},{"id":"e6096fb901965842","type":"link out","z":"a77954b1.39cdc","name":"","mode":"link","links":["4ec035ad42419e36"],"x":1145,"y":2260,"wires":[]},{"id":"aa034d6ff640c1bb","type":"comment","z":"a77954b1.39cdc","name":"Enable script module","info":"Enable script module","x":120,"y":2360,"wires":[]},{"id":"14ace8762590c22e","type":"link out","z":"a77954b1.39cdc","name":"","mode":"link","links":["24cb9a022d213daa","805f4e632d51487c"],"x":1145,"y":2320,"wires":[]},{"id":"6d28ddaa7c3c6150","type":"function","z":"a77954b1.39cdc","name":"Read API data","func":"var api_ip=flow.get('api_ip')\nvar api_id=flow.get('api_id')\nvar api_auth = flow.get('api_auth',msg.headers);\n\nmsg.api_ip=api_ip\nmsg.api_id=api_id\nmsg.headers=api_auth\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":2580,"wires":[["6c5f73fd3594bb45"]]},{"id":"c61b4d41ca11dc3f","type":"function","z":"a77954b1.39cdc","name":"","func":"var mod=\"GPIO\"\nvar parm=\"status\"\n\nmsg.payload={\n    \"mod\":mod,\n    \"parm\":parm\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":220,"y":2640,"wires":[["6d28ddaa7c3c6150"]]},{"id":"102f07c715eb3a2c","type":"http request","z":"a77954b1.39cdc","name":"Enable gpio module","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://{{{api_ip}}}:5080/api/{{{api_id}}}/set/conf","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":960,"y":2640,"wires":[["7a774a93d0a30594"]]},{"id":"3c73aff6c1b87f26","type":"function","z":"a77954b1.39cdc","name":"Read API data","func":"var api_ip=flow.get('api_ip')\nvar api_id=flow.get('api_id')\nvar api_auth = flow.get('api_auth',msg.headers);\n\nmsg.api_ip=api_ip\nmsg.api_id=api_id\nmsg.headers=api_auth\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":2640,"wires":[["3a5b0467d060502f"]]},{"id":"45556bac0731ea32","type":"ui_switch","z":"a77954b1.39cdc","name":"","label":"Enable gpio module","tooltip":"","group":"bd7bdcdc.e587c8","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"payload","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":580,"y":2580,"wires":[["3c73aff6c1b87f26"]]},{"id":"7a774a93d0a30594","type":"switch","z":"a77954b1.39cdc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"OK","vt":"str"}],"checkall":"false","repair":true,"outputs":1,"x":1030,"y":2580,"wires":[["8130ba3b0d0bc0c3","e23624bd39555297"]]},{"id":"3a5b0467d060502f","type":"function","z":"a77954b1.39cdc","name":"","func":"if(msg.payload==true){\n    msg.payload={\n    \"module_name\": \"GPIO\",\n    \"name\": \"status\",\n    \"val\": \"on\"\n}\n} else {\n    msg.payload={\n    \"module_name\": \"GPIO\",\n    \"name\": \"status\",\n    \"val\": \"off\"\n}\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":2580,"wires":[["102f07c715eb3a2c"]]},{"id":"cf2d2708fade1c6f","type":"link in","z":"a77954b1.39cdc","name":"","links":["4999890d3a718d21"],"x":45,"y":2640,"wires":[["c61b4d41ca11dc3f"]]},{"id":"9b7e10b64681e75d","type":"link in","z":"a77954b1.39cdc","name":"","links":["8130ba3b0d0bc0c3"],"x":45,"y":2580,"wires":[["c61b4d41ca11dc3f"]]},{"id":"8130ba3b0d0bc0c3","type":"link out","z":"a77954b1.39cdc","name":"","mode":"link","links":["9b7e10b64681e75d"],"x":1145,"y":2440,"wires":[]},{"id":"03091d1aa077072b","type":"comment","z":"a77954b1.39cdc","name":"Enable gpio module","info":"Enable gpio module","x":110,"y":2540,"wires":[]},{"id":"e23624bd39555297","type":"link out","z":"a77954b1.39cdc","name":"","mode":"link","links":["24cb9a022d213daa","805f4e632d51487c"],"x":1145,"y":2500,"wires":[]},{"id":"45e6b1ba7c324819","type":"function","z":"a77954b1.39cdc","name":"Read API data","func":"var api_ip=flow.get('api_ip')\nvar api_id=flow.get('api_id')\nvar api_auth = flow.get('api_auth',msg.headers);\n\nmsg.api_ip=api_ip\nmsg.api_id=api_id\nmsg.headers=api_auth\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":2760,"wires":[["667033ed9ab53d32"]]},{"id":"70650c19502ec599","type":"function","z":"a77954b1.39cdc","name":"","func":"var mod=\"GPIO\"\nvar parm=\"gpio_setwarnings\"\n\nmsg.payload={\n    \"mod\":mod,\n    \"parm\":parm\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":220,"y":2820,"wires":[["45e6b1ba7c324819"]]},{"id":"404d8270e410669e","type":"http request","z":"a77954b1.39cdc","name":"Enable script module","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://{{{api_ip}}}:5080/api/{{{api_id}}}/set/conf","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":960,"y":2820,"wires":[["b532d7fd669190a4"]]},{"id":"124b4c04f1c586a0","type":"function","z":"a77954b1.39cdc","name":"Read API data","func":"var api_ip=flow.get('api_ip')\nvar api_id=flow.get('api_id')\nvar api_auth = flow.get('api_auth',msg.headers);\n\nmsg.api_ip=api_ip\nmsg.api_id=api_id\nmsg.headers=api_auth\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":2820,"wires":[["7eff8e72b7c39d01"]]},{"id":"daa0a038b7c1c758","type":"ui_switch","z":"a77954b1.39cdc","name":"","label":"Enable gpio setwarnings","tooltip":"","group":"bd7bdcdc.e587c8","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"payload","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":590,"y":2760,"wires":[["124b4c04f1c586a0"]]},{"id":"b532d7fd669190a4","type":"switch","z":"a77954b1.39cdc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"OK","vt":"str"}],"checkall":"false","repair":true,"outputs":1,"x":1030,"y":2760,"wires":[["09d95b548d45522c","5645b3844073f4e2"]]},{"id":"7eff8e72b7c39d01","type":"function","z":"a77954b1.39cdc","name":"","func":"if(msg.payload==true){\n    msg.payload={\n    \"module_name\": \"GPIO\",\n    \"name\": \"gpio_setwarnings\",\n    \"val\": \"True\"\n}\n} else {\n    msg.payload={\n    \"module_name\": \"GPIO\",\n    \"name\": \"gpio_setwarnings\",\n    \"val\": \"False\"\n}\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":2760,"wires":[["404d8270e410669e"]]},{"id":"0579eabbed48f619","type":"link in","z":"a77954b1.39cdc","name":"","links":["4999890d3a718d21"],"x":45,"y":2820,"wires":[["70650c19502ec599"]]},{"id":"a95f6b1495951dfe","type":"comment","z":"a77954b1.39cdc","name":"Enable gpio setwarnings","info":"Enable gpio setwarnings","x":130,"y":2720,"wires":[]},{"id":"09d95b548d45522c","type":"link out","z":"a77954b1.39cdc","name":"","mode":"link","links":["24cb9a022d213daa","805f4e632d51487c"],"x":1145,"y":2680,"wires":[]},{"id":"5645b3844073f4e2","type":"link out","z":"a77954b1.39cdc","name":"","mode":"link","links":["4716e9374b64ab94"],"x":1145,"y":2620,"wires":[]},{"id":"4716e9374b64ab94","type":"link in","z":"a77954b1.39cdc","name":"","links":["5645b3844073f4e2"],"x":45,"y":2760,"wires":[["70650c19502ec599"]]},{"id":"667033ed9ab53d32","type":"subflow:d030392ecc3d3feb","z":"a77954b1.39cdc","name":"","x":450,"y":2820,"wires":[["daa0a038b7c1c758"]]},{"id":"6c5f73fd3594bb45","type":"subflow:ec429f445c573ae9","z":"a77954b1.39cdc","name":"","x":450,"y":2640,"wires":[["45556bac0731ea32"]]},{"id":"bbbe54fafc943565","type":"subflow:ec429f445c573ae9","z":"a77954b1.39cdc","name":"","x":450,"y":2460,"wires":[["00b01bc3bea05fc7"]]},{"id":"11ce47c23078907c","type":"function","z":"a77954b1.39cdc","name":"Read API data","func":"var api_ip=flow.get('api_ip')\nvar api_id=flow.get('api_id')\nvar api_auth = flow.get('api_auth',msg.headers);\n\nmsg.api_ip=api_ip\nmsg.api_id=api_id\nmsg.headers=api_auth\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":1000,"wires":[["7959331a026cc47c"]]},{"id":"f1271b427ff91603","type":"function","z":"a77954b1.39cdc","name":"Read API data","func":"var api_ip=flow.get('api_ip')\nvar api_id=flow.get('api_id')\nvar api_auth = flow.get('api_auth',msg.headers);\n\nmsg.api_ip=api_ip\nmsg.api_id=api_id\nmsg.headers=api_auth\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":1040,"wires":[["0390d459bd38a4da"]]},{"id":"e07cf020820bdb77","type":"function","z":"a77954b1.39cdc","name":"Read API data","func":"var api_ip=flow.get('api_ip')\nvar api_id=flow.get('api_id')\nvar api_auth = flow.get('api_auth',msg.headers);\n\nmsg.api_ip=api_ip\nmsg.api_id=api_id\nmsg.headers=api_auth\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":1080,"wires":[["7c832c3ee2cf018e"]]},{"id":"f525041234802fd3","type":"function","z":"a77954b1.39cdc","name":"Read API data","func":"var api_ip=flow.get('api_ip')\nvar api_id=flow.get('api_id')\nvar api_auth = flow.get('api_auth',msg.headers);\n\nmsg.api_ip=api_ip\nmsg.api_id=api_id\nmsg.headers=api_auth\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":1120,"wires":[["3423cf0ca58e85d2"]]},{"id":"5573169038488a8b","type":"function","z":"a77954b1.39cdc","name":"Read API data","func":"var api_ip=flow.get('api_ip')\nvar api_id=flow.get('api_id')\nvar api_auth = flow.get('api_auth',msg.headers);\n\nmsg.api_ip=api_ip\nmsg.api_id=api_id\nmsg.headers=api_auth\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":1160,"wires":[["0ad181f98f4ed325"]]},{"id":"c71ab539ac1df050","type":"link out","z":"a77954b1.39cdc","name":"","mode":"link","links":["98a0aa1054f68bfa","27d075e099f8ea86"],"x":1055,"y":1420,"wires":[]},{"id":"98a0aa1054f68bfa","type":"link in","z":"a77954b1.39cdc","name":"","links":["c71ab539ac1df050"],"x":55,"y":1000,"wires":[["11ce47c23078907c"]]},{"id":"bebf6c4cae0a9725","type":"link in","z":"a77954b1.39cdc","name":"","links":["4999890d3a718d21","c69ac9057609188a","316cb45093502ccf","7f0d912578286028"],"x":55,"y":920,"wires":[["4dda0a68.c06934"]]},{"id":"2ae0e8b246efa44a","type":"link in","z":"a77954b1.39cdc","name":"","links":["38bf3772d7c430fb","c5d0068f216b446d"],"x":55,"y":1040,"wires":[["f1271b427ff91603"]]},{"id":"805f4e632d51487c","type":"link in","z":"a77954b1.39cdc","name":"","links":["14ace8762590c22e","e23624bd39555297","09d95b548d45522c","4be011aa2c384adc","ac45696ad38980ef"],"x":55,"y":960,"wires":[["581368cd43cc59ba"]]},{"id":"55b5be5ffea16c06","type":"link in","z":"a77954b1.39cdc","name":"","links":[],"x":55,"y":1080,"wires":[["e07cf020820bdb77"]]},{"id":"391acc6b0a65f81f","type":"link in","z":"a77954b1.39cdc","name":"","links":["38bf3772d7c430fb"],"x":55,"y":1120,"wires":[["f525041234802fd3"]]},{"id":"f0bfab96cb4764ae","type":"link out","z":"a77954b1.39cdc","name":"","mode":"link","links":["87b8d1e4ceb9ec8b"],"x":1065,"y":2940,"wires":[]},{"id":"87b8d1e4ceb9ec8b","type":"link in","z":"a77954b1.39cdc","name":"","links":["f0bfab96cb4764ae"],"x":45,"y":2980,"wires":[["916cc6a7e170bc41"]]},{"id":"ddc4496c4dd8851e","type":"function","z":"a77954b1.39cdc","name":"Read API data","func":"var api_ip=flow.get('api_ip')\nvar api_id=flow.get('api_id')\nvar api_auth = flow.get('api_auth',msg.headers);\n\nmsg.api_ip=api_ip\nmsg.api_id=api_id\nmsg.headers=api_auth\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":1800,"wires":[["1c8560ced723d786"]]},{"id":"ab479045bc9f2d23","type":"http request","z":"a77954b1.39cdc","name":"Add job","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://{{{api_ip}}}:5080/api/{{{api_id}}}/scheduler/add/plugin","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":640,"y":1800,"wires":[["6fcc31da6e1772aa"]]},{"id":"6fcc31da6e1772aa","type":"switch","z":"a77954b1.39cdc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"OK","vt":"str"}],"checkall":"false","repair":true,"outputs":1,"x":790,"y":1800,"wires":[["38bf3772d7c430fb"]]},{"id":"095b08314eb53711","type":"comment","z":"a77954b1.39cdc","name":"Add job plugin at","info":"Add job plugin at","x":100,"y":1760,"wires":[]},{"id":"35f58effd34ba3d3","type":"function","z":"a77954b1.39cdc","name":"Read API data","func":"var api_ip=flow.get('api_ip')\nvar api_id=flow.get('api_id')\nvar api_auth = flow.get('api_auth',msg.headers);\n\nmsg.api_ip=api_ip\nmsg.api_id=api_id\nmsg.headers=api_auth\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":2240,"wires":[["ac20d2eefcb2cb2f"]]},{"id":"e20a8bb0f9c1261b","type":"function","z":"a77954b1.39cdc","name":"","func":"var mod=\"PLUGIN\"\nvar parm=\"status\"\n\nmsg.payload={\n    \"mod\":mod,\n    \"parm\":parm\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":220,"y":2300,"wires":[["35f58effd34ba3d3"]]},{"id":"052441a31abdd4a4","type":"http request","z":"a77954b1.39cdc","name":"Enable plugin module","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://{{{api_ip}}}:5080/api/{{{api_id}}}/set/conf","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":960,"y":2300,"wires":[["afc680d6ba09e27a"]]},{"id":"66eba53a67daae76","type":"function","z":"a77954b1.39cdc","name":"Read API data","func":"var api_ip=flow.get('api_ip')\nvar api_id=flow.get('api_id')\nvar api_auth = flow.get('api_auth',msg.headers);\n\nmsg.api_ip=api_ip\nmsg.api_id=api_id\nmsg.headers=api_auth\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":2300,"wires":[["687d41c0199d0b96"]]},{"id":"43eee08d178b58e8","type":"ui_switch","z":"a77954b1.39cdc","name":"","label":"Enable plugin module","tooltip":"","group":"bd7bdcdc.e587c8","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"payload","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":580,"y":2240,"wires":[["66eba53a67daae76"]]},{"id":"afc680d6ba09e27a","type":"switch","z":"a77954b1.39cdc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"OK","vt":"str"}],"checkall":"false","repair":true,"outputs":1,"x":1030,"y":2240,"wires":[["e71d2f42bf0d7770","4be011aa2c384adc"]]},{"id":"687d41c0199d0b96","type":"function","z":"a77954b1.39cdc","name":"","func":"if(msg.payload==true){\n    msg.payload={\n    \"module_name\": \"PLUGIN\",\n    \"name\": \"status\",\n    \"val\": \"on\"\n}\n} else {\n    msg.payload={\n    \"module_name\": \"PLUGIN\",\n    \"name\": \"status\",\n    \"val\": \"off\"\n}\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":2240,"wires":[["052441a31abdd4a4"]]},{"id":"938e720c9dd3b5a2","type":"link in","z":"a77954b1.39cdc","name":"","links":["4999890d3a718d21"],"x":45,"y":2300,"wires":[["e20a8bb0f9c1261b"]]},{"id":"f2dd458357f13632","type":"link in","z":"a77954b1.39cdc","name":"","links":["e71d2f42bf0d7770"],"x":45,"y":2240,"wires":[["e20a8bb0f9c1261b"]]},{"id":"e71d2f42bf0d7770","type":"link out","z":"a77954b1.39cdc","name":"","mode":"link","links":["f2dd458357f13632"],"x":1145,"y":2100,"wires":[]},{"id":"31b6c71908704ee8","type":"comment","z":"a77954b1.39cdc","name":"Enable plugin module","info":"Enable plugin module","x":120,"y":2200,"wires":[]},{"id":"4be011aa2c384adc","type":"link out","z":"a77954b1.39cdc","name":"","mode":"link","links":["24cb9a022d213daa","805f4e632d51487c"],"x":1145,"y":2160,"wires":[]},{"id":"ac20d2eefcb2cb2f","type":"subflow:ec429f445c573ae9","z":"a77954b1.39cdc","name":"","x":450,"y":2300,"wires":[["43eee08d178b58e8"]]},{"id":"5ab612150db9c909","type":"link in","z":"a77954b1.39cdc","name":"","links":[],"x":55,"y":1160,"wires":[["5573169038488a8b"]]},{"id":"03d9dc9217bf111e","type":"json","z":"a77954b1.39cdc","name":"","property":"payload","action":"obj","pretty":false,"x":750,"y":1160,"wires":[["ed5bbea03a991fac"]]},{"id":"ed5bbea03a991fac","type":"ui_template","z":"a77954b1.39cdc","group":"f2296b43.d90e08","name":"template","order":6,"width":0,"height":0,"format":"<h2>Available plugin</h2>\n<table>\n    <tr ng-repeat=\"(key, value) in msg.payload\">\n        <td>{{value}}</td>\n    </tr>\n</table>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":880,"y":1160,"wires":[[]]},{"id":"97d57ce23a303ef2","type":"comment","z":"a77954b1.39cdc","name":"Conf plugin HeatController","info":"Conf plugin HeatController","x":130,"y":3460,"wires":[]},{"id":"ef0bdd3f8d746ef0","type":"ui_form","z":"a77954b1.39cdc","name":"","label":"Period","group":"d721670bca69aa24","order":4,"width":0,"height":0,"options":[{"label":"Name","value":"sch_name","type":"text","required":true,"rows":null},{"label":"Dis / Ena","value":"sch_enabled","type":"switch","required":false,"rows":null},{"label":"Plugin","value":"sch_script_name","type":"text","required":true,"rows":null},{"label":"Period","value":"sch_period","type":"number","required":false,"rows":null},{"label":"seconds","value":"p_seconds","type":"checkbox","required":false,"rows":null},{"label":"minutes","value":"p_minutes","type":"checkbox","required":false,"rows":null},{"label":"hours","value":"p_hours","type":"checkbox","required":false,"rows":null},{"label":"days","value":"p_days","type":"checkbox","required":false,"rows":null},{"label":"weeks","value":"p_weeks","type":"checkbox","required":false,"rows":null}],"formValue":{"sch_name":"","sch_enabled":false,"sch_script_name":"","sch_period":"","p_seconds":false,"p_minutes":false,"p_hours":false,"p_days":false,"p_weeks":false},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":true,"className":"","x":90,"y":1900,"wires":[["e58878ee84a300e5"]]},{"id":"e58878ee84a300e5","type":"function","z":"a77954b1.39cdc","name":"Read API data","func":"var api_ip=flow.get('api_ip')\nvar api_id=flow.get('api_id')\nvar api_auth = flow.get('api_auth',msg.headers);\n\nmsg.api_ip=api_ip\nmsg.api_id=api_id\nmsg.headers=api_auth\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":1900,"wires":[["02ad902771e0f088"]]},{"id":"06365cbacfad0130","type":"http request","z":"a77954b1.39cdc","name":"Add job","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://{{{api_ip}}}:5080/api/{{{api_id}}}/scheduler/add/plugin","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":640,"y":1900,"wires":[["dba2a4743f01540b"]]},{"id":"02ad902771e0f088","type":"function","z":"a77954b1.39cdc","name":"","func":"var sch_name=msg.payload.sch_name\nvar sch_script_name=msg.payload.sch_script_name\nvar sch_period=msg.payload.sch_period\nvar sch_enable=msg.payload.sch_enabled\n\nvar p_seconds=msg.payload.p_seconds\nvar p_minutes=msg.payload.p_minutes\nvar p_hours=msg.payload.p_hours\nvar p_days=msg.payload.p_days\nvar p_weeks=msg.payload.p_weeks\n\nvar name=sch_name\n\nif (p_seconds==true){\n    var schedule_name=\"seconds\"\n}\n\nif (p_minutes==true){\n    var schedule_name=\"minutes\"\n}\n\nif (p_hours==true){\n    var schedule_name=\"hours\"\n}\n\nif (p_days==true){\n    var schedule_name=\"days\"\n}\n\nif (p_weeks==true){\n    var schedule_name=\"weeks\"\n}\n\nvar schedule_parm=sch_period\nvar module_name=\"PLUGIN\"\nvar enabled=sch_enable\nvar script_name=sch_script_name\n\nif (enabled==true) {\n    enabled=\"1\"\n} else {\n    enabled=\"0\"\n}\n\nmsg.payload={\n    \"name\":name,\n    \"schedule_name\":schedule_name,\n    \"schedule_parm\":schedule_parm,\n    \"module_name\":module_name,\n    \"script_name\":script_name,\n    \"enabled\":enabled\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":1900,"wires":[["06365cbacfad0130"]]},{"id":"dba2a4743f01540b","type":"switch","z":"a77954b1.39cdc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"OK","vt":"str"}],"checkall":"false","repair":true,"outputs":1,"x":790,"y":1900,"wires":[["38bf3772d7c430fb"]]},{"id":"8a5c5ad22f573099","type":"comment","z":"a77954b1.39cdc","name":"Add job plugin period","info":"Add job plugin period","x":120,"y":1860,"wires":[]},{"id":"b4fd65c66632c6cb","type":"http request","z":"a77954b1.39cdc","name":"Get plugin data","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://{{{api_ip}}}:5080/api/{{{api_id}}}/get/plugin/data/HeatController/temp_history","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":380,"y":3620,"wires":[["dd186db67fec0e06","0180627b47e5845d"]]},{"id":"378238639df62ba2","type":"function","z":"a77954b1.39cdc","name":"Read API data","func":"var api_ip=flow.get('api_ip')\nvar api_id=flow.get('api_id')\nvar api_auth = flow.get('api_auth',msg.headers);\n\nmsg.api_ip=api_ip\nmsg.api_id=api_id\nmsg.headers=api_auth\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":180,"y":3620,"wires":[["b4fd65c66632c6cb"]]},{"id":"dd186db67fec0e06","type":"debug","z":"a77954b1.39cdc","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":3660,"wires":[]},{"id":"5811ab7cd9383e96","type":"comment","z":"a77954b1.39cdc","name":"Read temp. sensor 1","info":"Read temp. sensor 1","x":110,"y":3580,"wires":[]},{"id":"6dbd9ada193dae9c","type":"ui_gauge","z":"a77954b1.39cdc","name":"","group":"5972a12c5a3b17a1","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperature sensor 1","label":"C","format":"{{payload}}","min":0,"max":"40","colors":["#729fcf","#8ae234","#ca3838"],"seg1":"20","seg2":"28","className":"","x":760,"y":3620,"wires":[]},{"id":"0180627b47e5845d","type":"function","z":"a77954b1.39cdc","name":"","func":"var temp_hist=msg.payload\nvar last=temp_hist[Object.keys(temp_hist)[Object.keys(temp_hist).length - 1]]\nmsg.payload=last\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":3620,"wires":[["6dbd9ada193dae9c"]]},{"id":"8b25ab7f606b0414","type":"link in","z":"a77954b1.39cdc","name":"","links":["4999890d3a718d21","231d1fa1e9a440c7"],"x":45,"y":3620,"wires":[["378238639df62ba2"]]},{"id":"231d1fa1e9a440c7","type":"link out","z":"a77954b1.39cdc","name":"","mode":"link","links":["8b25ab7f606b0414"],"x":715,"y":280,"wires":[]},{"id":"fabc23cbcbb5dae3","type":"ui_text_input","z":"a77954b1.39cdc","name":"","label":"Gpio to on / off","tooltip":"","group":"c6b775b648be71c2","order":2,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":120,"y":3540,"wires":[["61b66a0ebb85f478"]]},{"id":"f26c38934228d9b9","type":"ui_text_input","z":"a77954b1.39cdc","name":"","label":"Temp to on","tooltip":"","group":"c6b775b648be71c2","order":2,"width":0,"height":0,"passthru":false,"mode":"number","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":110,"y":3500,"wires":[["7427d3ac67c132c0"]]},{"id":"61b66a0ebb85f478","type":"function","z":"a77954b1.39cdc","name":"Read API data","func":"var api_ip=flow.get('api_ip')\nvar api_id=flow.get('api_id')\nvar api_auth = flow.get('api_auth',msg.headers);\n\nmsg.api_ip=api_ip\nmsg.api_id=api_id\nmsg.headers=api_auth\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":3540,"wires":[["7a48992a7cc3658d"]]},{"id":"cd126d5b2e623ed7","type":"http request","z":"a77954b1.39cdc","name":"Change plugin parm","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://{{{api_ip}}}:5080/api/{{{api_id}}}/set/conf","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":640,"y":3540,"wires":[["9d082dba178507e6"]]},{"id":"7427d3ac67c132c0","type":"function","z":"a77954b1.39cdc","name":"Read API data","func":"var api_ip=flow.get('api_ip')\nvar api_id=flow.get('api_id')\nvar api_auth = flow.get('api_auth',msg.headers);\n\nmsg.api_ip=api_ip\nmsg.api_id=api_id\nmsg.headers=api_auth\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":3500,"wires":[["505fb2e009a572aa"]]},{"id":"19eeb7ad6ff9922d","type":"http request","z":"a77954b1.39cdc","name":"Change plugin parm","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://{{{api_ip}}}:5080/api/{{{api_id}}}/set/conf","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":620,"y":3500,"wires":[["9d082dba178507e6"]]},{"id":"505fb2e009a572aa","type":"function","z":"a77954b1.39cdc","name":"","func":"var temp=msg.payload.toString()\n\nmsg.payload={\n    \"module_name\": \"HeatController\",\n    \"name\": \"temp\",\n    \"val\": temp\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":3500,"wires":[["19eeb7ad6ff9922d"]]},{"id":"7a48992a7cc3658d","type":"function","z":"a77954b1.39cdc","name":"","func":"var gpio=msg.payload.toString()\n\nmsg.payload={\n    \"module_name\": \"HeatController\",\n    \"name\": \"gpio\",\n    \"val\": gpio\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":3540,"wires":[["cd126d5b2e623ed7"]]},{"id":"ac45696ad38980ef","type":"link out","z":"a77954b1.39cdc","name":"","mode":"link","links":["805f4e632d51487c"],"x":915,"y":3520,"wires":[]},{"id":"9d082dba178507e6","type":"switch","z":"a77954b1.39cdc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"OK","vt":"str"}],"checkall":"false","repair":true,"outputs":1,"x":830,"y":3520,"wires":[["ac45696ad38980ef"]]},{"id":"f7a68ecefb7404a7","type":"ui_form","z":"a77954b1.39cdc","name":"","label":"At","group":"392728cbb7e7e0e2","order":1,"width":0,"height":0,"options":[{"label":"Name","value":"sch_name","type":"text","required":true,"rows":null},{"label":"Dis / Ena","value":"sch_enabled","type":"switch","required":false,"rows":null},{"label":"Script","value":"sch_script_name","type":"text","required":true,"rows":null},{"label":"minute","value":"minute_at","type":"checkbox","required":false,"rows":null},{"label":"hour","value":"hour_at","type":"checkbox","required":false,"rows":null},{"label":"day","value":"day_at","type":"checkbox","required":false,"rows":null},{"label":"HH","value":"sch_hh","type":"text","required":false,"rows":null},{"label":"MM","value":"sch_mm","type":"text","required":false,"rows":null},{"label":"SS","value":"sch_ss","type":"text","required":false,"rows":null}],"formValue":{"sch_name":"","sch_enabled":false,"sch_script_name":"","minute_at":false,"hour_at":false,"day_at":false,"sch_hh":"","sch_mm":"","sch_ss":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":true,"className":"","x":90,"y":1640,"wires":[["bcbc5795e5945411"]]},{"id":"bcbc5795e5945411","type":"function","z":"a77954b1.39cdc","name":"Read API data","func":"var api_ip=flow.get('api_ip')\nvar api_id=flow.get('api_id')\nvar api_auth = flow.get('api_auth',msg.headers);\n\nmsg.api_ip=api_ip\nmsg.api_id=api_id\nmsg.headers=api_auth\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":1640,"wires":[["958b9e1ec39176be"]]},{"id":"958b9e1ec39176be","type":"function","z":"a77954b1.39cdc","name":"","func":"var sch_name=msg.payload.sch_name\nvar sch_script_name=msg.payload.sch_script_name\nvar sch_hh=msg.payload.sch_hh\nvar sch_mm=msg.payload.sch_mm\nvar sch_ss=msg.payload.sch_ss\nvar sch_enable=msg.payload.sch_enabled\n\nvar minute_at=msg.payload.minute_at\nvar hour_at=msg.payload.hour_at\nvar day_at=msg.payload.day_at\n\nvar name=sch_name\n\nif (sch_ss==\"\") {\n    sch_ss=\"00\"\n} \n\nif (sch_mm==\"\") {\n    sch_mm=\"00\"\n}  \n\nif (sch_hh==\"\"){\n    sch_hh=\"00\"\n} \n\nif (minute_at==true){\n    var schedule_name=\"minute.at\"\n    var schedule_parm=\":\"+sch_ss\n}else if (hour_at==true){\n    var schedule_name=\"hour.at\"\n    var schedule_parm=\":\"+sch_mm\n}else if (day_at==true){\n    var schedule_name=\"day.at\"\n    var schedule_parm=sch_hh+\":\"+sch_mm+\":\"+sch_ss\n} else {\n    var schedule_name=\"day.at\"\n    var schedule_parm=sch_hh+\":\"+sch_mm+\":\"+sch_ss\n}\n\n\n\n\nvar module_name=\"SCRIPT\"\nvar enabled=sch_enable\nvar script_name=sch_script_name\n\nif (enabled==true) {\n    enabled=\"1\"\n} else {\n    enabled=\"0\"\n}\n\nmsg.payload={\n    \"name\":name,\n    \"schedule_name\":schedule_name,\n    \"schedule_parm\":schedule_parm,\n    \"module_name\":module_name,\n    \"script_name\":script_name,\n    \"enabled\":enabled\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":1640,"wires":[["f27ab29082d12c0d"]]},{"id":"f27ab29082d12c0d","type":"http request","z":"a77954b1.39cdc","name":"Add job","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://{{{api_ip}}}:5080/api/{{{api_id}}}/scheduler/add/script","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":640,"y":1640,"wires":[["e8aa803227e11ce1"]]},{"id":"e8aa803227e11ce1","type":"switch","z":"a77954b1.39cdc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"OK","vt":"str"}],"checkall":"false","repair":true,"outputs":1,"x":790,"y":1640,"wires":[["38bf3772d7c430fb"]]},{"id":"5d97f5ec4f80a117","type":"ui_form","z":"a77954b1.39cdc","name":"","label":"At","group":"d721670bca69aa24","order":2,"width":0,"height":0,"options":[{"label":"Name","value":"sch_name","type":"text","required":true,"rows":null},{"label":"Dis / Ena","value":"sch_enabled","type":"switch","required":false,"rows":null},{"label":"Plugin","value":"sch_script_name","type":"text","required":true,"rows":null},{"label":"minute","value":"minute_at","type":"checkbox","required":false,"rows":null},{"label":"hour","value":"hour_at","type":"checkbox","required":false,"rows":null},{"label":"day","value":"day_at","type":"checkbox","required":false,"rows":null},{"label":"HH","value":"sch_hh","type":"text","required":false,"rows":null},{"label":"MM","value":"sch_mm","type":"text","required":false,"rows":null},{"label":"SS","value":"sch_ss","type":"text","required":false,"rows":null}],"formValue":{"sch_name":"","sch_enabled":false,"sch_script_name":"","minute_at":false,"hour_at":false,"day_at":false,"sch_hh":"","sch_mm":"","sch_ss":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":true,"className":"","x":90,"y":1800,"wires":[["ddc4496c4dd8851e"]]},{"id":"1c8560ced723d786","type":"function","z":"a77954b1.39cdc","name":"","func":"var sch_name=msg.payload.sch_name\nvar sch_script_name=msg.payload.sch_script_name\nvar sch_hh=msg.payload.sch_hh\nvar sch_mm=msg.payload.sch_mm\nvar sch_ss=msg.payload.sch_ss\nvar sch_enable=msg.payload.sch_enabled\n\nvar minute_at=msg.payload.minute_at\nvar hour_at=msg.payload.hour_at\nvar day_at=msg.payload.day_at\n\nvar name=sch_name\n\nif (sch_ss==\"\") {\n    sch_ss=\"00\"\n} \n\nif (sch_mm==\"\") {\n    sch_mm=\"00\"\n}  \n\nif (sch_hh==\"\"){\n    sch_hh=\"00\"\n} \n\nif (minute_at==true){\n    var schedule_name=\"minute.at\"\n    var schedule_parm=\":\"+sch_ss\n}else if (hour_at==true){\n    var schedule_name=\"hour.at\"\n    var schedule_parm=\":\"+sch_mm\n}else if (day_at==true){\n    var schedule_name=\"day.at\"\n    var schedule_parm=sch_hh+\":\"+sch_mm+\":\"+sch_ss\n} else {\n    var schedule_name=\"day.at\"\n    var schedule_parm=sch_hh+\":\"+sch_mm+\":\"+sch_ss\n}\n\n\n\n\nvar module_name=\"PLUGIN\"\nvar enabled=sch_enable\nvar script_name=sch_script_name\n\nif (enabled==true) {\n    enabled=\"1\"\n} else {\n    enabled=\"0\"\n}\n\nmsg.payload={\n    \"name\":name,\n    \"schedule_name\":schedule_name,\n    \"schedule_parm\":schedule_parm,\n    \"module_name\":module_name,\n    \"script_name\":script_name,\n    \"enabled\":enabled\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":1800,"wires":[["ab479045bc9f2d23"]]},{"id":"77d6e54cf87a6240","type":"ui_form","z":"a77954b1.39cdc","name":"","label":"At","group":"62133e6a040b19d0","order":1,"width":0,"height":0,"options":[{"label":"Name","value":"sch_name","type":"text","required":true,"rows":null},{"label":"Dis / Ena","value":"sch_enabled","type":"switch","required":false,"rows":null},{"label":"Pin","value":"sch_pin","type":"number","required":true,"rows":null},{"label":"Stop / Start","value":"sch_pin_val","type":"switch","required":false,"rows":null},{"label":"minute","value":"minute_at","type":"checkbox","required":false,"rows":null},{"label":"hour","value":"hour_at","type":"checkbox","required":false,"rows":null},{"label":"day","value":"day_at","type":"checkbox","required":false,"rows":null},{"label":"HH","value":"sch_hh","type":"text","required":false,"rows":null},{"label":"MM","value":"sch_mm","type":"text","required":false,"rows":null},{"label":"SS","value":"sch_ss","type":"text","required":false,"rows":null}],"formValue":{"sch_name":"","sch_enabled":false,"sch_pin":"","sch_pin_val":false,"minute_at":false,"hour_at":false,"day_at":false,"sch_hh":"","sch_mm":"","sch_ss":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":true,"className":"","x":90,"y":1720,"wires":[["a96a192d49de4b65"]]},{"id":"6897b392d84f2496","type":"function","z":"a77954b1.39cdc","name":"","func":"var sch_name=msg.payload.sch_name\nvar sch_pin=msg.payload.sch_pin\nvar sch_pin_val=msg.payload.sch_pin_val\nvar sch_hh=msg.payload.sch_hh\nvar sch_mm=msg.payload.sch_mm\nvar sch_ss=msg.payload.sch_ss\nvar sch_enable=msg.payload.sch_enabled\n\nvar minute_at=msg.payload.minute_at\nvar hour_at=msg.payload.hour_at\nvar day_at=msg.payload.day_at\n\nvar name=sch_name\n\nif (sch_ss==\"\") {\n    sch_ss=\"00\"\n} \n\nif (sch_mm==\"\") {\n    sch_mm=\"00\"\n}  \n\nif (sch_hh==\"\"){\n    sch_hh=\"00\"\n} \n\nif (minute_at==true){\n    var schedule_name=\"minute.at\"\n    var schedule_parm=\":\"+sch_ss\n}else if (hour_at==true){\n    var schedule_name=\"hour.at\"\n    var schedule_parm=\":\"+sch_mm\n}else if (day_at==true){\n    var schedule_name=\"day.at\"\n    var schedule_parm=sch_hh+\":\"+sch_mm+\":\"+sch_ss\n} else {\n    var schedule_name=\"day.at\"\n    var schedule_parm=sch_hh+\":\"+sch_mm+\":\"+sch_ss\n}\n\nvar module_name=\"GPIO\"\nvar enabled=sch_enable\nvar pin=sch_pin.toString()\nvar pin_val=sch_pin_val\n\nif (pin_val ==true) {\n    pin_val=\"0\"\n} else {\n     pin_val=\"1\"\n}\n\nif (enabled==true) {\n    enabled=\"1\"\n} else {\n    enabled=\"0\"\n}\n\nmsg.payload={\n    \"name\":name,\n    \"schedule_name\":schedule_name,\n    \"schedule_parm\":schedule_parm,\n    \"module_name\":module_name,\n    \"pin\":pin,\n    \"pin_val\":pin_val,\n    \"enabled\":enabled\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":1720,"wires":[["27481c060aa0077c"]]},{"id":"39bc83b7e5894e51","type":"ui_form","z":"a77954b1.39cdc","name":"","label":"Period","group":"392728cbb7e7e0e2","order":4,"width":0,"height":0,"options":[{"label":"Name","value":"sch_name","type":"text","required":true,"rows":null},{"label":"Dis / Ena","value":"sch_enabled","type":"switch","required":false,"rows":null},{"label":"Script","value":"sch_script_name","type":"text","required":true,"rows":null},{"label":"Period","value":"sch_period","type":"number","required":false,"rows":null},{"label":"seconds","value":"p_seconds","type":"checkbox","required":false,"rows":null},{"label":"minutes","value":"p_minutes","type":"checkbox","required":false,"rows":null},{"label":"hours","value":"p_hours","type":"checkbox","required":false,"rows":null},{"label":"days","value":"p_days","type":"checkbox","required":false,"rows":null},{"label":"weeks","value":"p_weeks","type":"checkbox","required":false,"rows":null}],"formValue":{"sch_name":"","sch_enabled":false,"sch_script_name":"","sch_period":"","p_seconds":false,"p_minutes":false,"p_hours":false,"p_days":false,"p_weeks":false},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":true,"className":"","x":90,"y":2000,"wires":[["d5205d84844aa048"]]},{"id":"d5205d84844aa048","type":"function","z":"a77954b1.39cdc","name":"Read API data","func":"var api_ip=flow.get('api_ip')\nvar api_id=flow.get('api_id')\nvar api_auth = flow.get('api_auth',msg.headers);\n\nmsg.api_ip=api_ip\nmsg.api_id=api_id\nmsg.headers=api_auth\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":2000,"wires":[["b4bf061a6a961737"]]},{"id":"fa5a40828c840490","type":"http request","z":"a77954b1.39cdc","name":"Add job","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://{{{api_ip}}}:5080/api/{{{api_id}}}/scheduler/add/script","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":640,"y":2000,"wires":[["c54791f29fea4679"]]},{"id":"b4bf061a6a961737","type":"function","z":"a77954b1.39cdc","name":"","func":"var sch_name=msg.payload.sch_name\nvar sch_script_name=msg.payload.sch_script_name\nvar sch_period=msg.payload.sch_period\nvar sch_enable=msg.payload.sch_enabled\n\nvar p_seconds=msg.payload.p_seconds\nvar p_minutes=msg.payload.p_minutes\nvar p_hours=msg.payload.p_hours\nvar p_days=msg.payload.p_days\nvar p_weeks=msg.payload.p_weeks\n\nvar name=sch_name\n\nif (p_seconds==true){\n    var schedule_name=\"seconds\"\n}\n\nif (p_minutes==true){\n    var schedule_name=\"minutes\"\n}\n\nif (p_hours==true){\n    var schedule_name=\"hours\"\n}\n\nif (p_days==true){\n    var schedule_name=\"days\"\n}\n\nif (p_weeks==true){\n    var schedule_name=\"weeks\"\n}\n\nvar schedule_parm=sch_period\nvar module_name=\"SCRIPT\"\nvar enabled=sch_enable\nvar script_name=sch_script_name\n\nif (enabled==true) {\n    enabled=\"1\"\n} else {\n    enabled=\"0\"\n}\n\nmsg.payload={\n    \"name\":name,\n    \"schedule_name\":schedule_name,\n    \"schedule_parm\":schedule_parm,\n    \"module_name\":module_name,\n    \"script_name\":script_name,\n    \"enabled\":enabled\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":2000,"wires":[["fa5a40828c840490"]]},{"id":"c54791f29fea4679","type":"switch","z":"a77954b1.39cdc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"OK","vt":"str"}],"checkall":"false","repair":true,"outputs":1,"x":790,"y":2000,"wires":[["38bf3772d7c430fb"]]},{"id":"f49e5a6e3b3e17b7","type":"comment","z":"a77954b1.39cdc","name":"Add job script period","info":"Add job script period","x":110,"y":1960,"wires":[]},{"id":"616dc31158be40b4","type":"ui_form","z":"a77954b1.39cdc","name":"","label":"Period","group":"62133e6a040b19d0","order":4,"width":0,"height":0,"options":[{"label":"Name","value":"sch_name","type":"text","required":true,"rows":null},{"label":"Dis / Ena","value":"sch_enabled","type":"switch","required":false,"rows":null},{"label":"Pin","value":"sch_pin","type":"number","required":true,"rows":null},{"label":"Stop / Start","value":"sch_pin_val","type":"switch","required":false,"rows":null},{"label":"Period","value":"sch_period","type":"number","required":false,"rows":null},{"label":"seconds","value":"p_seconds","type":"checkbox","required":false,"rows":null},{"label":"minutes","value":"p_minutes","type":"checkbox","required":false,"rows":null},{"label":"hours","value":"p_hours","type":"checkbox","required":false,"rows":null},{"label":"days","value":"p_days","type":"checkbox","required":false,"rows":null},{"label":"weeks","value":"p_weeks","type":"checkbox","required":false,"rows":null}],"formValue":{"sch_name":"","sch_enabled":false,"sch_pin":"","sch_pin_val":false,"sch_period":"","p_seconds":false,"p_minutes":false,"p_hours":false,"p_days":false,"p_weeks":false},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":true,"className":"","x":90,"y":2100,"wires":[["8d8ff571ca98213e"]]},{"id":"8d8ff571ca98213e","type":"function","z":"a77954b1.39cdc","name":"Read API data","func":"var api_ip=flow.get('api_ip')\nvar api_id=flow.get('api_id')\nvar api_auth = flow.get('api_auth',msg.headers);\n\nmsg.api_ip=api_ip\nmsg.api_id=api_id\nmsg.headers=api_auth\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":2100,"wires":[["8c8927a8ea80e8a6"]]},{"id":"95fe89288548c2e8","type":"http request","z":"a77954b1.39cdc","name":"Add job","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://{{{api_ip}}}:5080/api/{{{api_id}}}/scheduler/add/gpio","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":640,"y":2100,"wires":[["68632ed8febcc0fa"]]},{"id":"68632ed8febcc0fa","type":"switch","z":"a77954b1.39cdc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"OK","vt":"str"}],"checkall":"false","repair":true,"outputs":1,"x":790,"y":2100,"wires":[["38bf3772d7c430fb"]]},{"id":"99fbf27d8a16efa0","type":"comment","z":"a77954b1.39cdc","name":"Add job gpio period","info":"Add job script period","x":110,"y":2060,"wires":[]},{"id":"8c8927a8ea80e8a6","type":"function","z":"a77954b1.39cdc","name":"","func":"var sch_name=msg.payload.sch_name\nvar sch_pin=msg.payload.sch_pin\nvar sch_pin_val=msg.payload.sch_pin_val\nvar sch_enable=msg.payload.sch_enabled\nvar sch_period=msg.payload.sch_period\n\nvar p_seconds=msg.payload.p_seconds\nvar p_minutes=msg.payload.p_minutes\nvar p_hours=msg.payload.p_hours\nvar p_days=msg.payload.p_days\nvar p_weeks=msg.payload.p_weeks\n\nif (p_seconds==true){\n    var schedule_name=\"seconds\"\n}\n\nif (p_minutes==true){\n    var schedule_name=\"minutes\"\n}\n\nif (p_hours==true){\n    var schedule_name=\"hours\"\n}\n\nif (p_days==true){\n    var schedule_name=\"days\"\n}\n\nif (p_weeks==true){\n    var schedule_name=\"weeks\"\n}\n\nvar name=sch_name\n\nvar module_name=\"GPIO\"\nvar enabled=sch_enable\nvar pin=sch_pin.toString()\nvar pin_val=sch_pin_val\nvar schedule_parm=sch_period\n\nif (pin_val ==true) {\n    pin_val=\"0\"\n} else {\n     pin_val=\"1\"\n}\n\nif (enabled==true) {\n    enabled=\"1\"\n} else {\n    enabled=\"0\"\n}\n\nmsg.payload={\n    \"name\":name,\n    \"schedule_name\":schedule_name,\n    \"schedule_parm\":schedule_parm,\n    \"module_name\":module_name,\n    \"pin\":pin,\n    \"pin_val\":pin_val,\n    \"enabled\":enabled\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":2100,"wires":[["95fe89288548c2e8"]]},{"id":"ac1ecc848b64c549","type":"comment","z":"a77954b1.39cdc","name":"Change your api data ","info":"Change your api data in function \"Init API data\"","x":120,"y":20,"wires":[]},{"id":"822f6949a4bd8701","type":"ui_spacer","z":"a77954b1.39cdc","name":"spacer","group":"f2296b43.d90e08","order":2,"width":8,"height":1},{"id":"7bffb7483aa85ce3","type":"ui_spacer","z":"a77954b1.39cdc","name":"spacer","group":"f2296b43.d90e08","order":3,"width":8,"height":1},{"id":"07f084792394b8e7","type":"ui_spacer","z":"a77954b1.39cdc","name":"spacer","group":"f2296b43.d90e08","order":4,"width":8,"height":1},{"id":"b40130539e27fd30","type":"ui_spacer","z":"a77954b1.39cdc","name":"spacer","group":"f2296b43.d90e08","order":5,"width":8,"height":1},{"id":"35e78bdd9f199238","type":"ui_group","name":"SmallCube","tab":"26f5c804.94e4b8","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"11b096db.33a5a1","type":"ui_group","name":"Action","tab":"275ee9b8.d36816","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"e38f771551b1b0e1","type":"ui_group","name":"Delete job","tab":"1b8f5977.371a27","order":5,"disp":true,"width":"6","collapse":true,"className":""},{"id":"31dabc2d.cc0f44","type":"ui_group","name":"Status","tab":"26f5c804.94e4b8","order":1,"disp":true,"width":"12","collapse":false,"className":""},{"id":"04320ce7b8d1bd92","type":"ui_group","name":"Pi","tab":"26f5c804.94e4b8","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"26b25476.b91984","type":"ui_group","name":"Configuration","tab":"e5b54af5.2247f8","order":3,"disp":true,"width":10,"collapse":false,"className":""},{"id":"f632c9be.2f0168","type":"ui_group","name":"Gpio","tab":"275ee9b8.d36816","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"f2296b43.d90e08","type":"ui_group","name":"Data","tab":"1b8f5977.371a27","order":1,"disp":true,"width":"12","collapse":true,"className":""},{"id":"febd9c2cedfb35b8","type":"ui_group","name":"Switch","tab":"26f5c804.94e4b8","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"e614f3f4765874d7","type":"ui_group","name":"Log","tab":"5ee54f8cb03793bc","order":2,"disp":true,"width":"13","collapse":false,"className":""},{"id":"a69b420674ee0d61","type":"ui_group","name":"Action","tab":"5ee54f8cb03793bc","order":1,"disp":true,"width":"4","collapse":false,"className":""},{"id":"bd7bdcdc.e587c8","type":"ui_group","name":"Action","tab":"e5b54af5.2247f8","order":1,"disp":true,"width":6,"collapse":false,"className":""},{"id":"d721670bca69aa24","type":"ui_group","name":"Add plugin job","tab":"1b8f5977.371a27","order":4,"disp":true,"width":"6","collapse":true,"className":""},{"id":"5972a12c5a3b17a1","type":"ui_group","name":"Plugin HeatController","tab":"26f5c804.94e4b8","order":5,"disp":true,"width":"6","collapse":false,"className":""},{"id":"c6b775b648be71c2","type":"ui_group","name":"HeatController","tab":"e5b54af5.2247f8","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"392728cbb7e7e0e2","type":"ui_group","name":"Add script job","tab":"1b8f5977.371a27","order":3,"disp":true,"width":"6","collapse":true,"className":""},{"id":"62133e6a040b19d0","type":"ui_group","name":"Add gpio job","tab":"1b8f5977.371a27","order":2,"disp":true,"width":"6","collapse":true,"className":""},{"id":"26f5c804.94e4b8","type":"ui_tab","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"275ee9b8.d36816","type":"ui_tab","name":"Gpio Conf","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"1b8f5977.371a27","type":"ui_tab","name":"Scheduler","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"e5b54af5.2247f8","type":"ui_tab","name":"Main Conf","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"5ee54f8cb03793bc","type":"ui_tab","name":"Logs","icon":"dashboard","order":5,"disabled":false,"hidden":false}]